# データサイエンス100本ノック（構造化データ加工編） - Python
# for Google Colab

## 【注意】オリジナル版との変更点
1. Google Colab ではDockerを使えないので、2020.06.18時点の 100knocks-preprocess/docker/work/data にあるCSVファイルをPostgreSQLから入手する代わりに使います。
2. オリジナルのCSVデータ, geocode.csvの'latitude'列名の初めにスペースが入っていたため、それを削除しました。

   オリジナル(100knocks-preprocess ver.1.0): ' latitude' --> 'latitude'
   

4. オリジナルの解答を元に、必要のないlibraryはimportせず、そして必要なlibraryをGoogle colabでインストールするように最初のセルを改変してあります。
5. また、SQLではなく上記CSVからデータを読み込むように'はじめに'の最初のセルを改変してあります。

## はじめに
- 初めに以下のセルを実行してください
- 必要なライブラリのインポートと~~データベース（PostgreSQL）~~ 100knocks-preprocess/docker/work/data にあるCSVファイルからのデータ読み込みを行います。geocode.csvに変更を加えたため、またgit cloneをするとColabの簡便さを損なうため、noguhiro2002のgithubレポジトリから直接読み込みます。
- pandas等、利用が想定されるライブラリは以下セルでインポートしています
- その他利用したいライブラリがあれば適宜インストールしてください（"!pip install ライブラリ名"でインストールも可能)
- オリジナルの解答例を元に、必要なライブラリーをpipでインストールします。
- 処理は複数回に分けても構いません
- 名前、住所等はダミーデータであり、実在するものではありません

## しんせいたろうコメント

ココに書いてある解答があまりにPandasらくしない解答が多いので，

これはちょっと．．．？と思う解答にだけ，しんせいたろう解答を随時追加しておきます．

In [1]:
# pipでオリジナルの解答に必要なライブラリーをインストール
# !pip install --upgrade pip
# !pip install -U pandas numpy scikit-learn imbalanced-learn

# pipでオリジナルの解答に必要なライブラリーをインポート
import os
import pandas as pd
import numpy as np
from datetime import datetime, date
from dateutil.relativedelta import relativedelta
import math
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from imblearn.under_sampling import RandomUnderSampler


# データを github/noguhiro2002/100knocks-preprocess/work/data フォルダよりDataframe形式でRead
df_customer = pd.read_csv('https://raw.githubusercontent.com/The-Japan-DataScientist-Society/100knocks-preprocess/master/docker/work/data/customer.csv')
df_category = pd.read_csv('https://raw.githubusercontent.com/The-Japan-DataScientist-Society/100knocks-preprocess/master/docker/work/data/category.csv')
df_product = pd.read_csv('https://raw.githubusercontent.com/The-Japan-DataScientist-Society/100knocks-preprocess/master/docker/work/data/product.csv')
df_receipt = pd.read_csv('https://raw.githubusercontent.com/The-Japan-DataScientist-Society/100knocks-preprocess/master/docker/work/data/receipt.csv')
df_store = pd.read_csv('https://raw.githubusercontent.com/The-Japan-DataScientist-Society/100knocks-preprocess/master/docker/work/data/store.csv')
df_geocode = pd.read_csv('https://raw.githubusercontent.com/noguhiro2002/100knocks-preprocess_ForColab-AzureNotebook/master/data/geocode.csv')

/home/otowa/miniconda3/envs/py36/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3051: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

# 演習問題

## メモ

1. もともとのDataFrameにコラムを追加するなどの変更を加えることは、悪いことではないのですが、個人的な主義主張や働いているチームの文化などが色濃く反映されるところなので、事前にご確認されることをオススメします。この場ではどちらでも構いません。どちらでも構わない場合は、変更しないで `.copy()` をつかって問題毎にオリジナルのコピーを作成してから問題を解いたほうがバグは減ります。
1. `.query()` メソッドは使われているコードをほとんど見かけないので、なるべく使わないで頑張ってください。

## 2020/09/13　ハイライト

1. Series / DataFrame 
1. slice 方法
1. boolean をつかったフィルタリング
1. sort_values()

## P-001

---
> P-001: レシート明細のデータフレーム（df_receipt）から全項目の先頭10件を表示し、どのようなデータを保有しているか目視で確認せよ。

In [ ]:
df_receipt.tail(10)

        sales_ymd  sales_epoch store_cd  ...  product_cd  quantity amount
104671   20180131   1517356800   S14010  ...  P060103003         1    150
104672   20180721   1532131200   S13043  ...  P059001015         1    308
104673   20181217   1545004800   S13004  ...  P059001016         1    308
104674   20190911   1568160000   S14046  ...  P070703003         1     98
104675   20190430   1556582400   S13041  ...  P070503012         1    100
104676   20180221   1519171200   S13043  ...  P050101001         1     40
104677   20190911   1568160000   S14047  ...  P071006005         1    218
104678   20170311   1489190400   S14040  ...  P050405003         1    168
104679   20170331   1490918400   S13002  ...  P060303001         1    148
104680   20190423   1555977600   S13016  ...  P050601001         1    138

[10 rows x 9 columns]

In [ ]:
df_receipt["sales_ymd"]

0         20181103
1         20181118
2         20170712
3         20190205
4         20180821
            ...
104676    20180221
104677    20190911
104678    20170311
104679    20170331
104680    20190423
Name: sales_ymd, Length: 104681, dtype: int64

## P-002
---
> P-002: レシート明細のデータフレーム（df_receipt）から売上日（sales_ymd）、顧客ID（customer_id）、商品コード（product_cd）、売上金額（amount）の順に列を指定し、10件表示させよ。

In [ ]:
df_receipt[['sales_ymd', 'customer_id', 'product_cd', 'amount']].head(10)

x = ['sales_ymd', 'customer_id']
df_receipt[x]

        sales_ymd     customer_id
0        20181103  CS006214000001
1        20181118  CS008415000097
2        20170712  CS028414000014
3        20190205  ZZ000000000000
4        20180821  CS025415000050
...           ...             ...
104676   20180221  ZZ000000000000
104677   20190911  ZZ000000000000
104678   20170311  CS040513000195
104679   20170331  CS002513000049
104680   20190423  ZZ000000000000

[104681 rows x 2 columns]

## P-003
---
> P-003: レシート明細のデータフレーム（df_receipt）から売上日（sales_ymd）、顧客ID（customer_id）、商品コード（product_cd）、売上金額（amount）の順に列を指定し、10件表示させよ。ただし、sales_ymdはsales_dateに項目名を変更しながら抽出すること。

In [ ]:
df_003 = df_receipt.copy()
df_003[['sales_ymd', 'customer_id', 'product_cd', 'amount']].rename(columns={'sales_ymd': 'sales_date'}).head(10)

   sales_date     customer_id  product_cd  amount
0    20181103  CS006214000001  P070305012     158
1    20181118  CS008415000097  P070701017      81
2    20170712  CS028414000014  P060101005     170
3    20190205  ZZ000000000000  P050301001      25
4    20180821  CS025415000050  P060102007      90
5    20190605  CS003515000195  P050102002     138
6    20181205  CS024514000042  P080101005      30
7    20190922  CS040415000178  P070501004     128
8    20170504  ZZ000000000000  P071302010     770
9    20191010  CS027514000015  P071101003     680

## P-004
---
> P-004: レシート明細のデータフレーム（df_receipt）から売上日（sales_ymd）、顧客ID（customer_id）、商品コード（product_cd）、売上金額（amount）の順に列を指定し、以下の条件を満たすデータを抽出せよ。
> - 顧客ID（customer_id）が"CS018205000001"

In [ ]:
df_receipt[['sales_ymd', 'customer_id', 'product_cd', 'amount']].query('customer_id == "CS018205000001"')

       sales_ymd     customer_id  product_cd  amount
36      20180911  CS018205000001  P071401012    2200
9843    20180414  CS018205000001  P060104007     600
21110   20170614  CS018205000001  P050206001     990
27673   20170614  CS018205000001  P060702015     108
27840   20190216  CS018205000001  P071005024     102
28757   20180414  CS018205000001  P071101002     278
39256   20190226  CS018205000001  P070902035     168
58121   20190924  CS018205000001  P060805001     495
68117   20190226  CS018205000001  P071401020    2200
72254   20180911  CS018205000001  P071401005    1100
88508   20190216  CS018205000001  P040101002     218
91525   20190924  CS018205000001  P091503001     280

In [ ]:
## しんせいたろう解答
#df_receipt[df_receipt["customer_id"] == "CS018205000001"]

df_004 = df_receipt.copy()
df_004 = df_receipt[["sales_ymd", "customer_id", "product_cd", "amount"]]
df_004[df_receipt["customer_id"] == "CS018205000001"]


#df_receipt[df_receipt["customer_id"] == "CS018205000001"]
#df_receipt["customer_id_CS018205000001"] = df_receipt["customer_id"] == "CS018205000001"
#df_receipt[df_receipt["customer_id_CS018205000001"]==True]

       sales_ymd     customer_id  product_cd  amount
36      20180911  CS018205000001  P071401012    2200
9843    20180414  CS018205000001  P060104007     600
21110   20170614  CS018205000001  P050206001     990
27673   20170614  CS018205000001  P060702015     108
27840   20190216  CS018205000001  P071005024     102
28757   20180414  CS018205000001  P071101002     278
39256   20190226  CS018205000001  P070902035     168
58121   20190924  CS018205000001  P060805001     495
68117   20190226  CS018205000001  P071401020    2200
72254   20180911  CS018205000001  P071401005    1100
88508   20190216  CS018205000001  P040101002     218
91525   20190924  CS018205000001  P091503001     280

## P-005

---
> P-005: レシート明細のデータフレーム（df_receipt）から売上日（sales_ymd）、顧客ID（customer_id）、商品コード（product_cd）、売上金額（amount）の順に列を指定し、以下の条件を満たすデータを抽出せよ。
> - 顧客ID（customer_id）が"CS018205000001"
> - 売上金額（amount）が1,000以上

In [ ]:
df_receipt[['sales_ymd', 'customer_id', 'product_cd', 'amount']] \
            .query('customer_id == "CS018205000001" & amount >= 1000')

       sales_ymd     customer_id  product_cd  amount
36      20180911  CS018205000001  P071401012    2200
68117   20190226  CS018205000001  P071401020    2200
72254   20180911  CS018205000001  P071401005    1100

In [ ]:
## しんせいたろう解答
# df_receipt[["sales_ymd", "customer_id", "product_cd", "amount"]][
#                                                                  (df_receipt["customer_id"] == "CS018205000001") & \
#                                                                  (df_receipt["amount"] >= 1000)]

df_005 = df_receipt.copy()
df_005 = df_005[["sales_ymd", "customer_id", "product_cd", "amount"]]
df_005[(df_005["customer_id"] == "CS018205000001") & (df_005["amount"] >= 1000)]

       sales_ymd     customer_id  product_cd  amount
36      20180911  CS018205000001  P071401012    2200
68117   20190226  CS018205000001  P071401020    2200
72254   20180911  CS018205000001  P071401005    1100

## P-006

---
> P-006: レシート明細データフレーム「df_receipt」から売上日（sales_ymd）、顧客ID（customer_id）、商品コード（product_cd）、売上数量（quantity）、売上金額（amount）の順に列を指定し、以下の条件を満たすデータを抽出せよ。
> - 顧客ID（customer_id）が"CS018205000001"
> - 売上金額（amount）が1,000以上または売上数量（quantity）が5以上

In [ ]:
df_receipt[['sales_ymd', 'customer_id', 'product_cd', 'quantity', 'amount']].query('customer_id == "CS018205000001" & (amount >= 1000 | quantity >=5)')

       sales_ymd     customer_id  product_cd  quantity  amount
36      20180911  CS018205000001  P071401012         1    2200
9843    20180414  CS018205000001  P060104007         6     600
21110   20170614  CS018205000001  P050206001         5     990
68117   20190226  CS018205000001  P071401020         1    2200
72254   20180911  CS018205000001  P071401005         1    1100

In [ ]:
# しんせいたろう解答
df_006 = df_receipt.copy()

df_006[["sales_ymd", "customer_id", "product_cd",  "quantity", "amount",]] \
    [(df_006["customer_id"] == "CS018205000001") & 
     ((df_006["amount"] >= 1000) | (df_006["quantity"] >= 5))]
 
# df_P006 = df_receipt.copy()
# df_P006 = df_P006[["sales_ymd", "customer_id", "product_cd",  "quantity", "amount",]]
# df_P006[(df_receipt["customer_id"] == "CS018205000001") & (df_receipt["amount"] >= 1000) | (df_receipt["quantity"] >= 5)]

       sales_ymd     customer_id  product_cd  quantity  amount
36      20180911  CS018205000001  P071401012         1    2200
9843    20180414  CS018205000001  P060104007         6     600
21110   20170614  CS018205000001  P050206001         5     990
68117   20190226  CS018205000001  P071401020         1    2200
72254   20180911  CS018205000001  P071401005         1    1100

## P-007

---
> P-007: レシート明細のデータフレーム（df_receipt）から売上日（sales_ymd）、顧客ID（customer_id）、商品コード（product_cd）、売上金額（amount）の順に列を指定し、以下の条件を満たすデータを抽出せよ。
> - 顧客ID（customer_id）が"CS018205000001"
> - 売上金額（amount）が1,000以上2,000以下

In [ ]:
df_receipt[['sales_ymd', 'customer_id', 'product_cd', 'amount']] \
    .query('customer_id == "CS018205000001" & 1000 <= amount <= 2000')

       sales_ymd     customer_id  product_cd  amount
72254   20180911  CS018205000001  P071401005    1100

In [ ]:
## しんせいたろう解答
# df_receipt[(df_receipt["customer_id"] == "CS018205000001") & 
#            (df_receipt["amount"] >= 1000) & 
#            (df_receipt["amount"] <= 2000)][["sales_ymd", "customer_id", "product_cd", "amount",]]


df_P007 = df_receipt.copy()
df_P007 = df_P007[['sales_ymd', 'customer_id', 'product_cd', 'amount']]

df_P007[(df_P007["customer_id"]=="CS018205000001") & 
        (df_P007["amount"] >= 1000) &
        (df_P007["amount"] <= 2000) ]

       sales_ymd     customer_id  product_cd  amount
72254   20180911  CS018205000001  P071401005    1100

## P-008

---
> P-008: レシート明細のデータフレーム（df_receipt）から売上日（sales_ymd）、顧客ID（customer_id）、商品コード（product_cd）、売上金額（amount）の順に列を指定し、以下の条件を満たすデータを抽出せよ。
> - 顧客ID（customer_id）が"CS018205000001"
> - 商品コード（product_cd）が"P071401019"以外

In [ ]:
df_receipt[['sales_ymd', 'customer_id', 'product_cd', 'amount']] \
    .query('customer_id == "CS018205000001" & product_cd != "P071401019"')

       sales_ymd     customer_id  product_cd  amount
36      20180911  CS018205000001  P071401012    2200
9843    20180414  CS018205000001  P060104007     600
21110   20170614  CS018205000001  P050206001     990
27673   20170614  CS018205000001  P060702015     108
27840   20190216  CS018205000001  P071005024     102
28757   20180414  CS018205000001  P071101002     278
39256   20190226  CS018205000001  P070902035     168
58121   20190924  CS018205000001  P060805001     495
68117   20190226  CS018205000001  P071401020    2200
72254   20180911  CS018205000001  P071401005    1100
88508   20190216  CS018205000001  P040101002     218
91525   20190924  CS018205000001  P091503001     280

In [ ]:
# しんせいたろう解答
df_P008 = df_receipt[["sales_ymd", "customer_id", "product_cd", "amount",]]
df_P008[(df_P008["customer_id"]=="CS018205000001") & (df_P008["product_cd"]!= "P071401019")]

       sales_ymd     customer_id  product_cd  amount
36      20180911  CS018205000001  P071401012    2200
9843    20180414  CS018205000001  P060104007     600
21110   20170614  CS018205000001  P050206001     990
27673   20170614  CS018205000001  P060702015     108
27840   20190216  CS018205000001  P071005024     102
28757   20180414  CS018205000001  P071101002     278
39256   20190226  CS018205000001  P070902035     168
58121   20190924  CS018205000001  P060805001     495
68117   20190226  CS018205000001  P071401020    2200
72254   20180911  CS018205000001  P071401005    1100
88508   20190216  CS018205000001  P040101002     218
91525   20190924  CS018205000001  P091503001     280

## P-009

---
> P-009: 以下の処理において、出力結果を変えずにORをANDに書き換えよ。

`df_store.query('not(prefecture_cd == "13" | floor_area > 900)')`

In [ ]:
df_store.query('prefecture_cd != "13" & floor_area <= 900')

   store_cd store_name  prefecture_cd  ... longitude  latitude floor_area
18   S14046       北山田店             14  ...  139.5916  35.56189      831.0
20   S14011      日吉本町店             14  ...  139.6316  35.54655      890.0
38   S12013       習志野店             12  ...  140.0220  35.66122      808.0

[3 rows x 10 columns]

In [ ]:
# しんせいたろう解答
#df_store[df_store["prefecture_cd"] != 13][df_store["floor_area"] <= 900]
df_009 = df_store.copy()
df_009[(df_009["prefecture_cd"] !=13) & (df_009["floor_area"] <= 900)]

   store_cd store_name  prefecture_cd  ... longitude  latitude floor_area
18   S14046       北山田店             14  ...  139.5916  35.56189      831.0
20   S14011      日吉本町店             14  ...  139.6316  35.54655      890.0
38   S12013       習志野店             12  ...  140.0220  35.66122      808.0

[3 rows x 10 columns]

## P-010

---
> P-010: 店舗データフレーム（df_store）から、店舗コード（store_cd）が"S14"で始まるものだけ全項目抽出し、10件だけ表示せよ。

In [ ]:
df_store.query("store_cd.str.startswith('S14')", engine='python').head(10)

   store_cd store_name  prefecture_cd  ... longitude  latitude floor_area
2    S14010        菊名店             14  ...  139.6326  35.50049     1732.0
3    S14033       阿久和店             14  ...  139.4961  35.45918     1495.0
4    S14036     相模原中央店             14  ...  139.3716  35.57327     1679.0
7    S14040       長津田店             14  ...  139.4994  35.52398     1548.0
9    S14050      阿久和西店             14  ...  139.4961  35.45918     1830.0
12   S14028       二ツ橋店             14  ...  139.4963  35.46304     1574.0
16   S14012      本牧和田店             14  ...  139.6582  35.42156     1341.0
18   S14046       北山田店             14  ...  139.5916  35.56189      831.0
19   S14022        逗子店             14  ...  139.5789  35.29642     1838.0
20   S14011      日吉本町店             14  ...  139.6316  35.54655      890.0

[10 rows x 10 columns]

In [ ]:
## しんせいたろう解答

#df_store[df_store["store_cd"].str.find("S14") > -1].head()
df_store[df_store["store_cd"].str.startswith("S14")].head(10)

   store_cd store_name  prefecture_cd  ... longitude  latitude floor_area
2    S14010        菊名店             14  ...  139.6326  35.50049     1732.0
3    S14033       阿久和店             14  ...  139.4961  35.45918     1495.0
4    S14036     相模原中央店             14  ...  139.3716  35.57327     1679.0
7    S14040       長津田店             14  ...  139.4994  35.52398     1548.0
9    S14050      阿久和西店             14  ...  139.4961  35.45918     1830.0
12   S14028       二ツ橋店             14  ...  139.4963  35.46304     1574.0
16   S14012      本牧和田店             14  ...  139.6582  35.42156     1341.0
18   S14046       北山田店             14  ...  139.5916  35.56189      831.0
19   S14022        逗子店             14  ...  139.5789  35.29642     1838.0
20   S14011      日吉本町店             14  ...  139.6316  35.54655      890.0

[10 rows x 10 columns]

## P-011


---
> P-011: 顧客データフレーム（df_customer）から顧客ID（customer_id）の末尾が1のものだけ全項目抽出し、10件だけ表示せよ。

In [ ]:
df_customer.query("customer_id.str.endswith('1')", engine='python').head(10)

        customer_id customer_name  ...  application_date     status_cd
1    CS037613000071         六角 雅彦  ...          20150414  0-00000000-0
3    CS028811000001        堀井 かおり  ...          20160115  0-00000000-0
14   CS040412000191         川井 郁恵  ...          20151101  1-20091025-4
31   CS028314000011        小菅 あおい  ...          20151123  1-20080426-5
56   CS039212000051        藤島 恵梨香  ...          20171121  1-20100215-4
59   CS015412000111         松居 奈月  ...          20150629  0-00000000-0
63   CS004702000041          野島 洋  ...          20170218  0-00000000-0
74   CS041515000001         栗田 千夏  ...          20160422  E-20100803-F
85   CS029313000221        北条 ひかり  ...          20180810  0-00000000-0
102  CS034312000071         望月 奈央  ...          20160106  0-00000000-0

[10 rows x 11 columns]

In [ ]:
## しんせいたろう解答
df_customer[df_customer["customer_id"].str.endswith("1")].head(10)

        customer_id customer_name  ...  application_date     status_cd
1    CS037613000071         六角 雅彦  ...          20150414  0-00000000-0
3    CS028811000001        堀井 かおり  ...          20160115  0-00000000-0
14   CS040412000191         川井 郁恵  ...          20151101  1-20091025-4
31   CS028314000011        小菅 あおい  ...          20151123  1-20080426-5
56   CS039212000051        藤島 恵梨香  ...          20171121  1-20100215-4
59   CS015412000111         松居 奈月  ...          20150629  0-00000000-0
63   CS004702000041          野島 洋  ...          20170218  0-00000000-0
74   CS041515000001         栗田 千夏  ...          20160422  E-20100803-F
85   CS029313000221        北条 ひかり  ...          20180810  0-00000000-0
102  CS034312000071         望月 奈央  ...          20160106  0-00000000-0

[10 rows x 11 columns]

## P-012


---
> P-012: 店舗データフレーム（df_store）から横浜市の店舗だけ全項目表示せよ。

In [ ]:
df_store.query("address.str.contains('横浜市')", engine='python')

   store_cd store_name  prefecture_cd  ... longitude  latitude floor_area
2    S14010        菊名店             14  ...  139.6326  35.50049     1732.0
3    S14033       阿久和店             14  ...  139.4961  35.45918     1495.0
7    S14040       長津田店             14  ...  139.4994  35.52398     1548.0
9    S14050      阿久和西店             14  ...  139.4961  35.45918     1830.0
12   S14028       二ツ橋店             14  ...  139.4963  35.46304     1574.0
16   S14012      本牧和田店             14  ...  139.6582  35.42156     1341.0
18   S14046       北山田店             14  ...  139.5916  35.56189      831.0
20   S14011      日吉本町店             14  ...  139.6316  35.54655      890.0
26   S14048      中川中央店             14  ...  139.5758  35.54912     1657.0
40   S14042       新山下店             14  ...  139.6593  35.43894     1044.0
52   S14006       葛が谷店             14  ...  139.5633  35.53573     1886.0

[11 rows x 10 columns]

In [ ]:
# しんせいたろう解答
df_store[df_store["address"].str.contains("横浜市")]

# これでもOK
# df_store[df_store["address"].str.find("横浜市")>-1]

   store_cd store_name  prefecture_cd  ... longitude  latitude floor_area
2    S14010        菊名店             14  ...  139.6326  35.50049     1732.0
3    S14033       阿久和店             14  ...  139.4961  35.45918     1495.0
7    S14040       長津田店             14  ...  139.4994  35.52398     1548.0
9    S14050      阿久和西店             14  ...  139.4961  35.45918     1830.0
12   S14028       二ツ橋店             14  ...  139.4963  35.46304     1574.0
16   S14012      本牧和田店             14  ...  139.6582  35.42156     1341.0
18   S14046       北山田店             14  ...  139.5916  35.56189      831.0
20   S14011      日吉本町店             14  ...  139.6316  35.54655      890.0
26   S14048      中川中央店             14  ...  139.5758  35.54912     1657.0
40   S14042       新山下店             14  ...  139.6593  35.43894     1044.0
52   S14006       葛が谷店             14  ...  139.5633  35.53573     1886.0

[11 rows x 10 columns]

## P-013

---
> P-013: 顧客データフレーム（df_customer）から、ステータスコード（status_cd）の先頭がアルファベットのA〜Fで始まるデータを全項目抽出し、10件だけ表示せよ。

In [ ]:
df_customer.query("status_cd.str.contains('^[A-F]', regex=True)", engine='python').head(10)

       customer_id customer_name  ...  application_date     status_cd
2   CS031415000172       宇多田 貴美子  ...          20150529  D-20100325-C
6   CS015414000103         奥野 陽子  ...          20150722  B-20100609-B
12  CS011215000048         芦田 沙耶  ...          20150228  C-20100421-9
15  CS029415000023         梅田 里穂  ...          20150610  D-20100918-E
21  CS035415000029         寺沢 真希  ...          20141220  F-20101029-F
32  CS031415000106        宇野 由美子  ...          20150201  F-20100511-E
33  CS029215000025         石倉 美帆  ...          20150708  B-20100820-C
40  CS033605000005         猪股 雄太  ...          20150425  F-20100917-E
44  CS033415000229        板垣 菜々美  ...          20150712  F-20100326-E
53  CS008415000145         黒谷 麻緒  ...          20150829  F-20100622-F

[10 rows x 11 columns]

In [ ]:
# しんせいたろう解答
df_customer[df_customer["status_cd"].str.contains('^[A-F].*')].head(10)

       customer_id customer_name  ...  application_date     status_cd
2   CS031415000172       宇多田 貴美子  ...          20150529  D-20100325-C
6   CS015414000103         奥野 陽子  ...          20150722  B-20100609-B
12  CS011215000048         芦田 沙耶  ...          20150228  C-20100421-9
15  CS029415000023         梅田 里穂  ...          20150610  D-20100918-E
21  CS035415000029         寺沢 真希  ...          20141220  F-20101029-F
32  CS031415000106        宇野 由美子  ...          20150201  F-20100511-E
33  CS029215000025         石倉 美帆  ...          20150708  B-20100820-C
40  CS033605000005         猪股 雄太  ...          20150425  F-20100917-E
44  CS033415000229        板垣 菜々美  ...          20150712  F-20100326-E
53  CS008415000145         黒谷 麻緒  ...          20150829  F-20100622-F

[10 rows x 11 columns]

## P-014

---
> P-014: 顧客データフレーム（df_customer）から、ステータスコード（status_cd）の末尾が数字の1〜9で終わるデータを全項目抽出し、10件だけ表示せよ。

In [10]:
df_customer.query("status_cd.str.contains('[1-9]$', regex=True)", engine='python')

          customer_id customer_name  ...  application_date     status_cd
4      CS001215000145         田崎 美紀  ...          20170605  6-20090929-2
9      CS033513000180          安斎 遥  ...          20150728  6-20080506-5
12     CS011215000048         芦田 沙耶  ...          20150228  C-20100421-9
14     CS040412000191         川井 郁恵  ...          20151101  1-20091025-4
16     CS009315000023         皆川 文世  ...          20150319  5-20080322-1
...               ...           ...  ...               ...           ...
21943  CS002515000242        加瀬 はるみ  ...          20170102  A-20100124-7
21946  CS034412000010        末永 まひる  ...          20150327  3-20090322-5
21952  CS002513000310         柳田 美嘉  ...          20160911  1-20100711-2
21955  CS001413000156        上原 恵望子  ...          20150724  1-20080210-1
21956  CS040314000065         谷川 紗季  ...          20150703  1-20090421-4

[4970 rows x 11 columns]

In [ ]:
# しんせいたろう解答
df_customer[df_customer["status_cd"].str.contains('[1-9]$')]
# str_list = [str(n) for n in list(range(1,10))]
# str_tuple = tuple(str_list)
# df_customer[df_customer['status_cd'].str.endswith(str_tuple)]

## P-015

---
> P-015: 顧客データフレーム（df_customer）から、ステータスコード（status_cd）の先頭がアルファベットのA〜Fで始まり、末尾が数字の1〜9で終わるデータを全項目抽出し、10件だけ表示せよ。

In [ ]:
df_customer.query("status_cd.str.contains('^[A-F].*[1-9]$', regex=True)", engine='python').head(10)

        customer_id customer_name  ...  application_date     status_cd
12   CS011215000048         芦田 沙耶  ...          20150228  C-20100421-9
68   CS022513000105        島村 貴美子  ...          20150320  A-20091115-7
71   CS001515000096         水野 陽子  ...          20150614  A-20100724-7
122  CS013615000053         西脇 季衣  ...          20150128  B-20100329-6
144  CS020412000161          小宮 薫  ...          20150822  B-20081021-3
178  CS001215000097        竹中 あさみ  ...          20170315  A-20100211-2
252  CS035212000007        内村 恵梨香  ...          20151013  B-20101018-6
259  CS002515000386         野田 コウ  ...          20160410  C-20100127-8
293  CS001615000372        稲垣 寿々花  ...          20170403  A-20100104-1
297  CS032512000121         松井 知世  ...          20150727  A-20100103-5

[10 rows x 11 columns]

In [ ]:
# しんせいたろう回答
df_customer[df_customer["status_cd"].str.contains('^[A-F].*[1-9]$')].head(10)

        customer_id customer_name  ...  application_date     status_cd
12   CS011215000048         芦田 沙耶  ...          20150228  C-20100421-9
68   CS022513000105        島村 貴美子  ...          20150320  A-20091115-7
71   CS001515000096         水野 陽子  ...          20150614  A-20100724-7
122  CS013615000053         西脇 季衣  ...          20150128  B-20100329-6
144  CS020412000161          小宮 薫  ...          20150822  B-20081021-3
178  CS001215000097        竹中 あさみ  ...          20170315  A-20100211-2
252  CS035212000007        内村 恵梨香  ...          20151013  B-20101018-6
259  CS002515000386         野田 コウ  ...          20160410  C-20100127-8
293  CS001615000372        稲垣 寿々花  ...          20170403  A-20100104-1
297  CS032512000121         松井 知世  ...          20150727  A-20100103-5

[10 rows x 11 columns]

## P-016

---
> P-016: 店舗データフレーム（df_store）から、電話番号（tel_no）が3桁-3桁-4桁のデータを全項目表示せよ。

In [ ]:
df_store.query("tel_no.str.contains('[0-9]{3}-[0-9]{3}-[0-9]{4}', regex=True)", engine='python')

In [ ]:
# しんせいたろう回答
df_store[df_store["tel_no"].str.contains('\d{3}-\d{3}-\d{4}')]

## P-017

---
> P-17: 顧客データフレーム（df_customer）を生年月日（birth_day）で高齢順にソートし、先頭10件を全項目表示せよ。

In [ ]:
# この回答で異議なしです
df_customer.sort_values('birth_day', ascending=True).head(10)

          customer_id customer_name  ...  application_date     status_cd
18817  CS003813000014        村山 菜々美  ...          20160214  0-00000000-0
12328  CS026813000004         吉村 朝陽  ...          20150723  0-00000000-0
15682  CS018811000003         熊沢 美里  ...          20150403  0-00000000-0
15302  CS027803000004         内村 拓郎  ...          20151227  0-00000000-0
1681   CS013801000003         天野 拓郎  ...          20160120  0-00000000-0
7511   CS001814000022         鶴田 里穂  ...          20161012  A-20090415-7
2378   CS016815000002         山元 美紀  ...          20150629  C-20090923-C
4680   CS009815000003         中田 里穂  ...          20150421  D-20091021-E
16070  CS005813000015        金谷 恵梨香  ...          20150506  0-00000000-0
6305   CS012813000013         宇野 南朋  ...          20150712  0-00000000-0

[10 rows x 11 columns]

## P-018

---
> P-18: 顧客データフレーム（df_customer）を生年月日（birth_day）で若い順にソートし、先頭10件を全項目表示せよ。

In [ ]:
# この回答で異議なしです
df_customer.sort_values('birth_day', ascending=False).head(10)

          customer_id customer_name  ...  application_date     status_cd
15639  CS035114000004         大村 美里  ...          20150619  6-20091205-6
7468   CS022103000002        福山 はじめ  ...          20160909  0-00000000-0
10745  CS002113000009        柴田 真悠子  ...          20160304  0-00000000-0
19811  CS004115000014         松井 京子  ...          20161120  1-20081231-1
7039   CS002114000010          山内 遥  ...          20160920  6-20100510-1
3670   CS025115000002         小柳 夏希  ...          20160116  D-20100913-D
12493  CS002113000025        広末 まなみ  ...          20171030  0-00000000-0
15977  CS033112000003         長野 美紀  ...          20150606  0-00000000-0
5716   CS007115000006          福岡 瞬  ...          20151118  F-20101016-F
15097  CS014113000008         矢口 莉緒  ...          20150622  3-20091108-6

[10 rows x 11 columns]

## P-019

---
> P-19: レシート明細データフレーム（df_receipt）に対し、1件あたりの売上金額（amount）が高い順にランクを付与し、先頭10件を抽出せよ。項目は顧客ID（customer_id）、売上金額（amount）、付与したランクを表示させること。なお、売上金額（amount）が等しい場合は同一順位を付与するものとする。

In [ ]:
df_tmp = pd.concat([df_receipt[['customer_id', 'amount']] 
                     ,df_receipt['amount'].rank(method='min', ascending=False)], axis=1)
df_tmp.columns = ['customer_id', 'amount', 'ranking']
df_tmp.sort_values('ranking', ascending=True).head(10)

In [ ]:
#しんせいたろう回答. 
# method='min'とすると最小値が順位となる。1位、2位タイ、2位タイ、4位
df_019 = df_receipt.copy()

df_019["rank_amount"] = df_019["amount"].rank(method='min', ascending=False)
df_019.sort_values(by="rank_amount")[["customer_id", "amount","rank_amount"]].head(10)

          customer_id  amount  rank_amount
1202   CS011415000006   10925          1.0
62317  ZZ000000000000    6800          2.0
54095  CS028605000002    5780          3.0
4632   CS015515000034    5480          4.0
72747  ZZ000000000000    5480          4.0
10320  ZZ000000000000    5480          4.0
97294  CS021515000089    5440          7.0
28304  ZZ000000000000    5440          7.0
92246  CS009415000038    5280          9.0
68553  CS040415000200    5280          9.0

## P-020

---
> P-020: レシート明細データフレーム（df_receipt）に対し、1件あたりの売上金額（amount）が高い順にランクを付与し、先頭10件を抽出せよ。項目は顧客ID（customer_id）、売上金額（amount）、付与したランクを表示させること。なお、売上金額（amount）が等しい場合でも別順位を付与すること。

In [ ]:
df_tmp = pd.concat([df_receipt[['customer_id', 'amount']] 
                     ,df_receipt['amount'].rank(method='first', ascending=False)], axis=1)
df_tmp.columns = ['customer_id', 'amount', 'ranking']
df_tmp.sort_values('ranking', ascending=True).head(10)

          customer_id  amount  ranking
1202   CS011415000006   10925      1.0
62317  ZZ000000000000    6800      2.0
54095  CS028605000002    5780      3.0
4632   CS015515000034    5480      4.0
10320  ZZ000000000000    5480      5.0
72747  ZZ000000000000    5480      6.0
28304  ZZ000000000000    5440      7.0
97294  CS021515000089    5440      8.0
596    CS015515000083    5280      9.0
11275  CS017414000114    5280     10.0

In [ ]:
# しんせいたろう回答
df_020 = df_receipt.copy()
df_020["rank_amount"] = df_020["amount"].rank(method="first", ascending=False)
df_020.sort_values(by="rank_amount")[["customer_id", "amount","rank_amount"]].head(10)

          customer_id  amount  rank_amount
1202   CS011415000006   10925          1.0
62317  ZZ000000000000    6800          2.0
54095  CS028605000002    5780          3.0
4632   CS015515000034    5480          4.0
10320  ZZ000000000000    5480          5.0
72747  ZZ000000000000    5480          6.0
28304  ZZ000000000000    5440          7.0
97294  CS021515000089    5440          8.0
596    CS015515000083    5280          9.0
11275  CS017414000114    5280         10.0

## P-021

---
> P-021: レシート明細データフレーム（df_receipt）に対し、件数をカウントせよ。

In [14]:
len(df_receipt)
df_receipt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104681 entries, 0 to 104680
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   sales_ymd       104681 non-null  int64
 1   sales_epoch     104681 non-null  int64
 2   store_cd        104681 non-null  object
 3   receipt_no      104681 non-null  int64
 4   receipt_sub_no  104681 non-null  int64
 5   customer_id     104681 non-null  object
 6   product_cd      104681 non-null  object
 7   quantity        104681 non-null  int64
 8   amount          104681 non-null  int64
dtypes: int64(6), object(3)
memory usage: 7.2+ MB

## P-022 

---
> P-022: レシート明細データフレーム（df_receipt）の顧客ID（customer_id）に対し、ユニーク件数をカウントせよ。

In [17]:
df_receipt['customer_id'].nunique()

8307

## P-023

---
> P-023: レシート明細データフレーム（df_receipt）に対し、店舗コード（store_cd）ごとに売上金額（amount）と売上数量（quantity）を合計せよ。

In [ ]:
df_receipt.groupby('store_cd').agg({'amount':'sum', 'quantity':'sum'}).reset_index()

In [ ]:
# しんせいたろう回答
df_receipt.groupby("store_cd")[["amount", "quantity"]].sum()

## P-024

---
> P-024: レシート明細データフレーム（df_receipt）に対し、顧客ID（customer_id）ごとに最も新しい売上日（sales_ymd）を求め、10件表示せよ。

In [ ]:
df_receipt.groupby('customer_id').sales_ymd.max().reset_index().head(10)

In [ ]:
# しんせいたろう回答。↑の回答も悪くはないんだけど、
# 売上日＝Date型であるべきだと思うので, 型変換して問題をときました

df_024 = df_receipt.copy()
df_024["sales_ymd"] = pd.to_datetime(df_024["sales_ymd"], format="%Y%m%d")
s_024 = df_024.groupby("customer_id")["sales_ymd"].max()
s_024.head(10)

customer_id
CS001113000004   2019-03-08
CS001114000005   2019-07-31
CS001115000010   2019-04-05
CS001205000004   2019-06-25
CS001205000006   2019-02-24
CS001211000025   2019-03-22
CS001212000027   2017-01-27
CS001212000031   2018-09-06
CS001212000046   2017-08-11
CS001212000070   2019-10-18
Name: sales_ymd, dtype: datetime64[ns]

## P-025

---
> P-025: レシート明細データフレーム（df_receipt）に対し、顧客ID（customer_id）ごとに最も古い売上日（sales_ymd）を求め、10件表示せよ。

In [ ]:
df_receipt.groupby('customer_id').agg({'sales_ymd':'min'}).head(10)

In [ ]:
# しんせいたろう回答 024 の逆バージョン
df_025 = df_receipt.copy()
df_025["sales_ymd"]= pd.to_datetime(df_025["sales_ymd"], format="%Y%m%d")
s_025 = df_025.groupby("customer_id")["sales_ymd"].min()
s_025.head(10)

## P-026

---
> P-026: レシート明細データフレーム（df_receipt）に対し、顧客ID（customer_id）ごとに最も新しい売上日（sales_ymd）と古い売上日を求め、両者が異なるデータを10件表示せよ。

In [ ]:
df_tmp = df_receipt.groupby('customer_id').agg({'sales_ymd':['max','min']}).reset_index()
df_tmp.columns = ["_".join(pair) for pair in df_tmp.columns]
df_tmp.query('sales_ymd_max != sales_ymd_min').head(10)

      customer_id_  sales_ymd_max  sales_ymd_min
1   CS001114000005       20190731       20180503
2   CS001115000010       20190405       20171228
3   CS001205000004       20190625       20170914
4   CS001205000006       20190224       20180207
13  CS001214000009       20190902       20170306
14  CS001214000017       20191006       20180828
16  CS001214000048       20190929       20171109
17  CS001214000052       20190617       20180208
20  CS001215000005       20181021       20170206
21  CS001215000040       20171022       20170214

In [ ]:
# しんせいたろう回答. 

df_026 = pd.concat([s_024.rename("024"), s_025.rename("025")], axis=1)
df_026[df_026["024"] != df_026["025"]].head(10)

                      024        025
customer_id
CS001114000005 2019-07-31 2018-05-03
CS001115000010 2019-04-05 2017-12-28
CS001205000004 2019-06-25 2017-09-14
CS001205000006 2019-02-24 2018-02-07
CS001214000009 2019-09-02 2017-03-06
CS001214000017 2019-10-06 2018-08-28
CS001214000048 2019-09-29 2017-11-09
CS001214000052 2019-06-17 2018-02-08
CS001215000005 2018-10-21 2017-02-06
CS001215000040 2017-10-22 2017-02-14

## P-027

---
> P-027: レシート明細データフレーム（df_receipt）に対し、店舗コード（store_cd）ごとに売上金額（amount）の平均を計算し、降順でTOP5を表示せよ。

In [ ]:
df_receipt.groupby('store_cd').agg({'amount':'mean'}).reset_index().sort_values('amount', ascending=False).head(5)

   store_cd      amount
28   S13052  402.867470
12   S13015  351.111960
7    S13003  350.915519
30   S14010  348.791262
5    S13001  348.470386

In [ ]:
## しんせいたろう回答

df_027 = df_receipt.copy()
df_027.groupby("store_cd")["amount"].mean().sort_values(ascending=False).head(5)

store_cd
S13052    402.867470
S13015    351.111960
S13003    350.915519
S14010    348.791262
S13001    348.470386
Name: amount, dtype: float64

## P-028

---
> P-028: レシート明細データフレーム（df_receipt）に対し、店舗コード（store_cd）ごとに売上金額（amount）の中央値を計算し、降順でTOP5を表示せよ。

In [ ]:
df_receipt.groupby('store_cd').agg({'amount':'median'}).reset_index().sort_values('amount', ascending=False).head(5)

   store_cd  amount
28   S13052     190
30   S14010     188
51   S14050     185
44   S14040     180
7    S13003     180

## P-029 

---
> P-029: レシート明細データフレーム（df_receipt）に対し、店舗コード（store_cd）ごとに商品コード（product_cd）の最頻値を求めよ。

In [ ]:
df_receipt.groupby('store_cd').product_cd.apply(lambda x: x.mode()).reset_index()

In [19]:
# しんせいたろう回答。ほぼ一緒。
df_029 = df_receipt.copy()
df_029.groupby(["store_cd", "product_cd"])["amount"].sum()#.apply(lambda x: x.mode())
#df_029

store_cd  product_cd
S12007    P040101001    2178
          P040101002    1090
          P040101003     690
          P040101005     804
          P040101008     420
                        ...
S14050    P091501002     120
          P091501036     730
          P091503001    1960
          P091503002     680
          P091503004    1130
Name: amount, Length: 54194, dtype: int64

## P-030

---
> P-030: レシート明細データフレーム（df_receipt）に対し、店舗コード（store_cd）ごとに売上金額（amount）の標本分散を計算し、降順でTOP5を表示せよ。

In [ ]:
df_receipt.groupby('store_cd').amount.var(ddof=0).reset_index().sort_values('amount', ascending=False).head(5)

   store_cd         amount
28   S13052  440088.701311
31   S14011  306314.558164
42   S14034  296920.081011
5    S13001  295431.993329
12   S13015  295294.361116

In [ ]:
# ほぼ一緒ですね
df_030 = df_receipt.copy()
df_030.groupby("store_cd")["amount"].var(ddof=0).sort_values(ascending=False).head()

store_cd
S13052    440088.701311
S14011    306314.558164
S14034    296920.081011
S13001    295431.993329
S13015    295294.361116
Name: amount, dtype: float64

In [ ]:
## ところで var とは何かは、はこれです
x = df_030[df_030["store_cd"]=="S13052"]["amount"]
m = x.mean()
diff = x - m
(diff ** 2).sum() / len(x)

440088.7013112692

## P-031


---
> P-031: レシート明細データフレーム（df_receipt）に対し、店舗コード（store_cd）ごとに売上金額（amount）の標本標準偏差を計算し、降順でTOP5を表示せよ。

In [ ]:
df_receipt.groupby('store_cd').amount.std(ddof=0).reset_index().sort_values('amount', ascending=False).head(5)

   store_cd      amount
28   S13052  663.391816
31   S14011  553.456916
42   S14034  544.903736
5    S13001  543.536561
12   S13015  543.409938

In [ ]:
# ほぼ同じ
df_031 = df_receipt.copy()
df_031.groupby("store_cd")["amount"].std(ddof=0).sort_values(ascending=False).head()

store_cd
S13052    663.391816
S14011    553.456916
S14034    544.903736
S13001    543.536561
S13015    543.409938
Name: amount, dtype: float64

In [ ]:
## ちなみに std とはこれ
import math 
x = df_031[df_031["store_cd"]=="S13052"]["amount"]
m = x.mean()
diff = x - m
math.sqrt((diff ** 2).sum() / len(x) )

663.3918158307873

## P-032

---
> P-032: レシート明細データフレーム（df_receipt）の売上金額（amount）について、25％刻みでパーセンタイル値を求めよ。

In [ ]:
# コード例1
np.percentile(df_receipt['amount'], q=[25, 50, 75,100])

array([  102.,   170.,   288., 10925.])

In [ ]:
# コード例2
df_receipt.amount.quantile(q=np.arange(5)/4)

0.00       10.0
0.25      102.0
0.50      170.0
0.75      288.0
1.00    10925.0
Name: amount, dtype: float64

In [ ]:
## しんせいたろう回答
df_receipt["amount"].quantile(q=[0.25, 0.5,0.75,1])

0.25      102.0
0.50      170.0
0.75      288.0
1.00    10925.0
Name: amount, dtype: float64

## P-033


---
> P-033: レシート明細データフレーム（df_receipt）に対し、店舗コード（store_cd）ごとに売上金額（amount）の平均を計算し、330以上のものを抽出せよ。

In [ ]:
df_receipt.groupby('store_cd').amount.mean().reset_index().query('amount >= 330')

   store_cd      amount
1    S12013  330.194130
5    S13001  348.470386
7    S13003  350.915519
8    S13004  330.943949
12   S13015  351.111960
16   S13019  330.208616
17   S13020  337.879932
28   S13052  402.867470
30   S14010  348.791262
31   S14011  335.718333
38   S14026  332.340588
46   S14045  330.082073
48   S14047  330.077073

In [ ]:
df_033 = df_receipt.groupby("store_cd")["amount"].mean()
df_033[df_033>330]

store_cd
S12013    330.194130
S13001    348.470386
S13003    350.915519
S13004    330.943949
S13015    351.111960
S13019    330.208616
S13020    337.879932
S13052    402.867470
S14010    348.791262
S14011    335.718333
S14026    332.340588
S14045    330.082073
S14047    330.077073
Name: amount, dtype: float64

##  P-034

---
> P-034: レシート明細データフレーム（df_receipt）に対し、顧客ID（customer_id）ごとに売上金額（amount）を合計して全顧客の平均を求めよ。ただし、顧客IDが"Z"から始まるのものは非会員を表すため、除外して計算すること。

In [ ]:
# queryを使わない書き方 ←しんせいたろうもこの回答
df_receipt[~df_receipt['customer_id'].str.startswith("Z")].groupby('customer_id').amount.sum().mean()

2547.742234529256

In [ ]:
# queryを使う書き方
df_receipt.query('not customer_id.str.startswith("Z")', engine='python').groupby('customer_id').amount.sum().mean()

2547.742234529256

## P-035


---
> P-035: レシート明細データフレーム（df_receipt）に対し、顧客ID（customer_id）ごとに売上金額（amount）を合計して全顧客の平均を求め、平均以上に買い物をしている顧客を抽出せよ。ただし、顧客IDが"Z"から始まるのものは非会員を表すため、除外して計算すること。なお、データは10件だけ表示させれば良い。

In [ ]:
amount_mean = df_receipt[~df_receipt['customer_id'].str.startswith("Z")].groupby('customer_id').amount.sum().mean()
df_amount_sum = df_receipt.groupby('customer_id').amount.sum().reset_index()
df_amount_sum[df_amount_sum['amount'] >= amount_mean].head(10)

       customer_id  amount
2   CS001115000010    3044
4   CS001205000006    3337
13  CS001214000009    4685
14  CS001214000017    4132
17  CS001214000052    5639
21  CS001215000040    3496
30  CS001304000006    3726
32  CS001305000005    3485
33  CS001305000011    4370
53  CS001315000180    3300

In [ ]:
# しんせいたろう回答
df_035 = df_receipt[~df_receipt["customer_id"].str.startswith("Z")].groupby("customer_id")["amount"].sum()
df_035[df_035 >= df_035.mean()].head(10)

customer_id
CS001115000010    3044
CS001205000006    3337
CS001214000009    4685
CS001214000017    4132
CS001214000052    5639
CS001215000040    3496
CS001304000006    3726
CS001305000005    3485
CS001305000011    4370
CS001315000180    3300
Name: amount, dtype: int64

## P-036

---
> P-036: レシート明細データフレーム（df_receipt）と店舗データフレーム（df_store）を内部結合し、レシート明細データフレームの全項目と店舗データフレームの店舗名（store_name）を10件表示させよ。

In [ ]:
pd.merge(df_receipt, df_store[['store_cd','store_name']], how='inner', on='store_cd').head(10)

   sales_ymd  sales_epoch store_cd  ...  amount  rank_amount store_name
0   20181103   1541203200   S14006  ...     158      55059.0       葛が谷店
1   20181116   1542326400   S14006  ...      48     102208.0       葛が谷店
2   20170118   1484697600   S14006  ...     220      38472.0       葛が谷店
3   20190524   1558656000   S14006  ...      80      95568.0       葛が谷店
4   20190419   1555632000   S14006  ...     148      57042.0       葛が谷店
5   20181119   1542585600   S14006  ...      88      91292.0       葛が谷店
6   20171211   1512950400   S14006  ...      80      95569.0       葛が谷店
7   20191021   1571616000   S14006  ...     405      15936.0       葛が谷店
8   20170710   1499644800   S14006  ...     330      20465.0       葛が谷店
9   20190805   1564963200   S14006  ...     115      73244.0       葛が谷店

[10 rows x 11 columns]

In [ ]:
# しんせいたろう回答 一緒ですけど、オプションがちょっと違う
df_036 = df_receipt.merge(df_store[["store_cd", "store_name"]], left_on="store_cd", right_on="store_cd")
df_036.head(10)

   sales_ymd  sales_epoch store_cd  ...  quantity  amount store_name
0   20181103   1541203200   S14006  ...         1     158       葛が谷店
1   20181116   1542326400   S14006  ...         1      48       葛が谷店
2   20170118   1484697600   S14006  ...         1     220       葛が谷店
3   20190524   1558656000   S14006  ...         1      80       葛が谷店
4   20190419   1555632000   S14006  ...         1     148       葛が谷店
5   20181119   1542585600   S14006  ...         1      88       葛が谷店
6   20171211   1512950400   S14006  ...         1      80       葛が谷店
7   20191021   1571616000   S14006  ...         1     405       葛が谷店
8   20170710   1499644800   S14006  ...         1     330       葛が谷店
9   20190805   1564963200   S14006  ...         1     115       葛が谷店

[10 rows x 10 columns]

## P-037

---
> P-037: 商品データフレーム（df_product）とカテゴリデータフレーム（df_category）を内部結合し、商品データフレームの全項目とカテゴリデータフレームの小区分名（category_small_name）を10件表示させよ。

In [ ]:
pd.merge(df_product
         , df_category[['category_major_cd', 'category_medium_cd','category_small_cd','category_small_name']]
         , how='inner', on=['category_major_cd', 'category_medium_cd','category_small_cd']).head(10)

   product_cd  category_major_cd  ...  unit_cost  category_small_name
0  P040101001                  4  ...      149.0                  弁当類
1  P040101002                  4  ...      164.0                  弁当類
2  P040101003                  4  ...      173.0                  弁当類
3  P040101004                  4  ...      186.0                  弁当類
4  P040101005                  4  ...      201.0                  弁当類
5  P040101006                  4  ...      224.0                  弁当類
6  P040101007                  4  ...      254.0                  弁当類
7  P040101008                  4  ...      315.0                  弁当類
8  P040101009                  4  ...      374.0                  弁当類
9  P040101010                  4  ...      435.0                  弁当類

[10 rows x 7 columns]

In [ ]:
## しんせいたろう回答

df_037 = df_product.merge(df_category[["category_small_cd", "category_small_name"]], left_on="category_small_cd", right_on="category_small_cd")
df_037.head(10)

   product_cd  category_major_cd  ...  unit_cost  category_small_name
0  P040101001                  4  ...      149.0                  弁当類
1  P040101002                  4  ...      164.0                  弁当類
2  P040101003                  4  ...      173.0                  弁当類
3  P040101004                  4  ...      186.0                  弁当類
4  P040101005                  4  ...      201.0                  弁当類
5  P040101006                  4  ...      224.0                  弁当類
6  P040101007                  4  ...      254.0                  弁当類
7  P040101008                  4  ...      315.0                  弁当類
8  P040101009                  4  ...      374.0                  弁当類
9  P040101010                  4  ...      435.0                  弁当類

[10 rows x 7 columns]

## P-038

---
> P-038: 顧客データフレーム（df_customer）とレシート明細データフレーム（df_receipt）から、各顧客ごとの売上金額合計を求めよ。ただし、買い物の実績がない顧客については売上金額を0として表示させること。また、顧客は性別コード（gender_cd）が女性（1）であるものを対象とし、非会員（顧客IDが'Z'から始まるもの）は除外すること。なお、結果は10件だけ表示させれば良い。

In [ ]:
df_amount_sum = df_receipt.groupby('customer_id').amount.sum().reset_index()
df_tmp = df_customer.query('gender_cd == "1" and not customer_id.str.startswith("Z")', engine='python')
pd.merge(df_tmp['customer_id'], df_amount_sum, how='left', on='customer_id').fillna(0).sort_values(by="customer_id").head(10)

          customer_id  amount
11536  CS001112000009     0.0
7258   CS001112000019     0.0
6617   CS001112000021     0.0
8016   CS001112000023     0.0
16661  CS001112000024     0.0
3679   CS001112000029     0.0
10223  CS001112000030     0.0
3022   CS001113000004  1298.0
3633   CS001113000010     0.0
15586  CS001114000005   626.0

In [ ]:
# しんせいたろう回答
# how ="left" が大切
df_038 = df_customer.merge(df_receipt, left_on="customer_id", right_on="customer_id", how="left")
df_038[(df_038["gender_cd"]==1) & (~df_038["customer_id"].str.startswith("Z"))].groupby("customer_id")["amount"].sum().head(10)

customer_id
CS001112000009       0.0
CS001112000019       0.0
CS001112000021       0.0
CS001112000023       0.0
CS001112000024       0.0
CS001112000029       0.0
CS001112000030       0.0
CS001113000004    1298.0
CS001113000010       0.0
CS001114000005     626.0
Name: amount, dtype: float64

## P-039

---
> P-039: レシート明細データフレーム（df_receipt）から売上日数の多い顧客の上位20件と、売上金額合計の多い顧客の上位20件を抽出し、完全外部結合せよ。ただし、非会員（顧客IDが'Z'から始まるもの）は除外すること。

In [ ]:
df_sum = df_receipt.groupby('customer_id').amount.sum().reset_index()
df_sum = df_sum.query('not customer_id.str.startswith("Z")', engine='python')
df_sum = df_sum.sort_values('amount', ascending=False).head(20)

df_cnt = df_receipt[~df_receipt.duplicated(subset=['customer_id', 'sales_ymd'])]
df_cnt = df_cnt.query('not customer_id.str.startswith("Z")', engine='python')
df_cnt = df_cnt.groupby('customer_id').sales_ymd.count().reset_index()
df_cnt = df_cnt.sort_values('sales_ymd', ascending=False).head(20)

pd.merge(df_sum, df_cnt, how='outer', on='customer_id')

       customer_id   amount  sales_ymd
0   CS017415000097  23086.0       20.0
1   CS015415000185  20153.0       22.0
2   CS031414000051  19202.0       19.0
3   CS028415000007  19127.0       21.0
4   CS001605000009  18925.0        NaN
5   CS010214000010  18585.0       22.0
6   CS016415000141  18372.0       20.0
7   CS006515000023  18372.0        NaN
8   CS011414000106  18338.0        NaN
9   CS038415000104  17847.0        NaN
10  CS035414000024  17615.0        NaN
11  CS021515000089  17580.0        NaN
12  CS032414000072  16563.0        NaN
13  CS016415000101  16348.0        NaN
14  CS011415000006  16094.0        NaN
15  CS034415000047  16083.0        NaN
16  CS007514000094  15735.0        NaN
17  CS009414000059  15492.0        NaN
18  CS030415000034  15468.0        NaN
19  CS015515000034  15300.0        NaN
20  CS040214000008      NaN       23.0
21  CS010214000002      NaN       21.0
22  CS014214000023      NaN       19.0
23  CS022515000226      NaN       19.0
24  CS021515000172      NaN       19.0
25  CS039414000052      NaN       19.0
26  CS021514000045      NaN       19.0
27  CS022515000028      NaN       18.0
28  CS030214000008      NaN       18.0
29  CS021515000056      NaN       18.0
30  CS014415000077      NaN       18.0
31  CS021515000211      NaN       18.0
32  CS032415000209      NaN       18.0
33  CS031414000073      NaN       18.0

In [ ]:
## しんせいたろう回答

df_39_sales_days_count = df_receipt[~df_receipt["customer_id"].str.startswith("Z")].groupby("customer_id")["sales_ymd"].count().nlargest(20)
df_39_sales_amount = df_receipt[~df_receipt["customer_id"].str.startswith("Z")].groupby("customer_id")["amount"].sum().nlargest(20)

pd.concat([df_39_sales_days_count, df_39_sales_amount], axis=1)

                sales_ymd   amount
CS040214000008       46.0      NaN
CS010214000010       44.0  18585.0
CS015415000185       44.0  20153.0
CS010214000002       42.0      NaN
CS028415000007       42.0  19127.0
CS007515000107       40.0      NaN
CS016415000141       40.0  18372.0
CS017415000097       40.0  23086.0
CS021514000045       40.0      NaN
CS014214000023       38.0      NaN
CS014415000077       38.0      NaN
CS021515000172       38.0      NaN
CS022515000226       38.0      NaN
CS031414000051       38.0  19202.0
CS031414000073       38.0      NaN
CS032415000209       38.0      NaN
CS039414000052       38.0      NaN
CS021514000008       36.0      NaN
CS021515000056       36.0      NaN
CS021515000101       36.0      NaN
CS001605000009        NaN  18925.0
CS006515000023        NaN  18372.0
CS011414000106        NaN  18338.0
CS038415000104        NaN  17847.0
CS035414000024        NaN  17615.0
CS021515000089        NaN  17580.0
CS032414000072        NaN  16563.0
CS016415000101        NaN  16348.0
CS011415000006        NaN  16094.0
CS034415000047        NaN  16083.0
CS007514000094        NaN  15735.0
CS009414000059        NaN  15492.0
CS030415000034        NaN  15468.0
CS015515000034        NaN  15300.0

## P-040

---
> P-040: 全ての店舗と全ての商品を組み合わせると何件のデータとなるか調査したい。店舗（df_store）と商品（df_product）を直積した件数を計算せよ。

In [ ]:
df_store_tmp = df_store.copy()
df_product_tmp = df_product.copy()

df_store_tmp['key'] = 0
df_product_tmp['key'] = 0
len(pd.merge(df_store_tmp, df_product_tmp, how='outer', on='key'))

531590

In [ ]:
## しんせいたろう回答

len(df_store["store_cd"].unique()) * len(df_product["product_cd"].unique())

531590

## P-041

---
> P-041: レシート明細データフレーム（df_receipt）の売上金額（amount）を日付（sales_ymd）ごとに集計し、前日からの売上金額増減を計算せよ。なお、計算結果は10件表示すればよい。

In [ ]:
df_sales_amount_by_date = df_receipt[['sales_ymd', 'amount']].groupby('sales_ymd').sum().reset_index()
df_sales_amount_by_date = pd.concat([df_sales_amount_by_date, df_sales_amount_by_date.shift()], axis=1)
df_sales_amount_by_date.columns = ['sales_ymd','amount','lag_ymd','lag_amount']
df_sales_amount_by_date['diff_amount'] = df_sales_amount_by_date['amount'] - df_sales_amount_by_date['lag_amount']
df_sales_amount_by_date.head(10)

   sales_ymd  amount     lag_ymd  lag_amount  diff_amount
0   20170101   33723         NaN         NaN          NaN
1   20170102   24165  20170101.0     33723.0      -9558.0
2   20170103   27503  20170102.0     24165.0       3338.0
3   20170104   36165  20170103.0     27503.0       8662.0
4   20170105   37830  20170104.0     36165.0       1665.0
5   20170106   32387  20170105.0     37830.0      -5443.0
6   20170107   23415  20170106.0     32387.0      -8972.0
7   20170108   24737  20170107.0     23415.0       1322.0
8   20170109   26718  20170108.0     24737.0       1981.0
9   20170110   20143  20170109.0     26718.0      -6575.0

In [3]:
## しんせいたろう解答
df_receipt.groupby("sales_ymd")["amount"].sum().diff().head(10)

sales_ymd
20170101       NaN
20170102   -9558.0
20170103    3338.0
20170104    8662.0
20170105    1665.0
20170106   -5443.0
20170107   -8972.0
20170108    1322.0
20170109    1981.0
20170110   -6575.0
Name: amount, dtype: float64

## P-042

---
> P-042: レシート明細データフレーム（df_receipt）の売上金額（amount）を日付（sales_ymd）ごとに集計し、各日付のデータに対し、１日前、２日前、３日前のデータを結合せよ。結果は10件表示すればよい。

In [ ]:
# コード例1:縦持ちケース
df_sales_amount_by_date = df_receipt[['sales_ymd', 'amount']].groupby('sales_ymd').sum().reset_index()
for i in range(1, 4):
    if i == 1:
        df_lag = pd.concat([df_sales_amount_by_date, df_sales_amount_by_date.shift(i)],axis=1)
    else:
        df_lag = df_lag.append(pd.concat([df_sales_amount_by_date, df_sales_amount_by_date.shift(i)],axis=1))
df_lag.columns = ['sales_ymd', 'amount', 'lag_ymd', 'lag_amount']
df_lag.dropna().sort_values(['sales_ymd','lag_ymd']).head(10)

   sales_ymd  amount     lag_ymd  lag_amount
1   20170102   24165  20170101.0     33723.0
2   20170103   27503  20170101.0     33723.0
2   20170103   27503  20170102.0     24165.0
3   20170104   36165  20170101.0     33723.0
3   20170104   36165  20170102.0     24165.0
3   20170104   36165  20170103.0     27503.0
4   20170105   37830  20170102.0     24165.0
4   20170105   37830  20170103.0     27503.0
4   20170105   37830  20170104.0     36165.0
5   20170106   32387  20170103.0     27503.0

In [ ]:
# コード例2:横持ちケース
df_sales_amount_by_date = df_receipt[['sales_ymd', 'amount']].groupby('sales_ymd').sum().reset_index()
for i in range(1, 4):
    if i == 1:
        df_lag = pd.concat([df_sales_amount_by_date, df_sales_amount_by_date.shift(i)],axis=1)
    else:
        df_lag = pd.concat([df_lag, df_sales_amount_by_date.shift(i)],axis=1)
df_lag.columns = ['sales_ymd', 'amount', 'lag_ymd_1', 'lag_amount_1', 'lag_ymd_2', 'lag_amount_2', 'lag_ymd_3', 'lag_amount_3']
df_lag.dropna().sort_values(['sales_ymd']).head(10)

    sales_ymd  amount   lag_ymd_1  ...  lag_amount_2   lag_ymd_3  lag_amount_3
3    20170104   36165  20170103.0  ...       24165.0  20170101.0       33723.0
4    20170105   37830  20170104.0  ...       27503.0  20170102.0       24165.0
5    20170106   32387  20170105.0  ...       36165.0  20170103.0       27503.0
6    20170107   23415  20170106.0  ...       37830.0  20170104.0       36165.0
7    20170108   24737  20170107.0  ...       32387.0  20170105.0       37830.0
8    20170109   26718  20170108.0  ...       23415.0  20170106.0       32387.0
9    20170110   20143  20170109.0  ...       24737.0  20170107.0       23415.0
10   20170111   24287  20170110.0  ...       26718.0  20170108.0       24737.0
11   20170112   23526  20170111.0  ...       20143.0  20170109.0       26718.0
12   20170113   28004  20170112.0  ...       24287.0  20170110.0       20143.0

[10 rows x 8 columns]

In [4]:
## しんせいたろう解答

df_042 = df_receipt.groupby("sales_ymd")[["amount"]].sum()
df_042["amout_lag1"] = df_042["amount"].shift(1)
df_042["amout_lag2"] = df_042["amount"].shift(2)
df_042["amout_lag3"] = df_042["amount"].shift(3)
df_042.head(10)

           amount  amout_lag1  amout_lag2  amout_lag3
sales_ymd
20170101    33723         NaN         NaN         NaN
20170102    24165     33723.0         NaN         NaN
20170103    27503     24165.0     33723.0         NaN
20170104    36165     27503.0     24165.0     33723.0
20170105    37830     36165.0     27503.0     24165.0
20170106    32387     37830.0     36165.0     27503.0
20170107    23415     32387.0     37830.0     36165.0
20170108    24737     23415.0     32387.0     37830.0
20170109    26718     24737.0     23415.0     32387.0
20170110    20143     26718.0     24737.0     23415.0

## P-043 

---
> P-043： レシート明細データフレーム（df_receipt）と顧客データフレーム（df_customer）を結合し、性別（gender）と年代（ageから計算）ごとに売上金額（amount）を合計した売上サマリデータフレーム（df_sales_summary）を作成せよ。性別は0が男性、1が女性、9が不明を表すものとする。
>
> ただし、項目構成は年代、女性の売上金額、男性の売上金額、性別不明の売上金額の4項目とすること（縦に年代、横に性別のクロス集計）。また、年代は10歳ごとの階級とすること。

In [ ]:
df_tmp = pd.merge(df_receipt, df_customer, how ='inner', on="customer_id")
df_tmp['era'] = df_tmp['age'].apply(lambda x: math.floor(x / 10) * 10)
df_sales_summary = pd.pivot_table(df_tmp, index='era', columns='gender_cd', values='amount', aggfunc='sum').reset_index()
df_sales_summary.columns = ['era', 'male', 'female', 'unknown']
df_sales_summary

   era      male     female   unknown
0   10    1591.0   149836.0    4317.0
1   20   72940.0  1363724.0   44328.0
2   30  177322.0   693047.0   50441.0
3   40   19355.0  9320791.0  483512.0
4   50   54320.0  6685192.0  342923.0
5   60  272469.0   987741.0   71418.0
6   70   13435.0    29764.0    2427.0
7   80   46360.0   262923.0    5111.0
8   90       NaN     6260.0       NaN

In [25]:
## しんせいたろう解答
df_sales_summary = df_customer.merge(df_receipt, left_on="customer_id", right_on="customer_id", how="outer")
df_sales_summary = df_sales_summary.groupby(by=[pd.cut(df_sales_summary["age"],range(-1,100,10)[1:]), "gender_cd"])["amount"].sum()
df_sales_summary.unstack(level="gender_cd")

gender_cd       0.0        1.0       9.0
age
(9, 19]      1591.0   149836.0    4317.0
(19, 29]    72940.0  1363724.0   44328.0
(29, 39]   177322.0   693047.0   50441.0
(39, 49]    19355.0  9320791.0  483512.0
(49, 59]    54320.0  6685192.0  342923.0
(59, 69]   272469.0   987741.0   71418.0
(69, 79]    13435.0    29764.0    2427.0
(79, 89]    46360.0   262923.0    5111.0
(89, 99]        0.0     6260.0       NaN

In [9]:
#P-043はかなり難しいので解説
# まずはマージ
df_sales_summary = df_customer.merge(df_receipt, 
                                     left_on="customer_id", # left_on は 左側のDataFrameのどのコラムをみてマージするか。
                                     right_on="customer_id", # right_on は 右側のDataFrameのどのコラムをみてマージするか。
                                     how="outer" # how = "outer" で、右にはなくても左にはある、左になくても右にはある、というデータを残す。外部結合。
                                    )
df_sales_summary.head()

,customer_id,customer_name,gender_cd,gender,birth_day,age,postal_cd,address,application_store_cd,application_date,status_cd,sales_ymd,sales_epoch,store_cd,receipt_no,receipt_sub_no,product_cd,quantity,amount
0,CS021313000114,大野 あや子,1.0,女性,1981-04-29,37.0,259-1113,神奈川県伊勢原市粟窪**********,S14021,20150905.0,0-00000000-0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CS037613000071,六角 雅彦,9.0,不明,1952-04-01,66.0,136-0076,東京都江東区南砂**********,S13037,20150414.0,0-00000000-0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,CS031415000172,宇多田 貴美子,1.0,女性,1976-10-04,42.0,151-0053,東京都渋谷区代々木**********,S13031,20150529.0,D-20100325-C,20170507.0,1.494115e+09,S13031,1102.0,1.0,P060103001,1.0,100.0
3,CS031415000172,宇多田 貴美子,1.0,女性,1976-10-04,42.0,151-0053,東京都渋谷区代々木**********,S13031,20150529.0,D-20100325-C,20171026.0,1.508976e+09,S13031,1182.0,1.0,P090203004,1.0,320.0
4,CS031415000172,宇多田 貴美子,1.0,女性,1976-10-04,42.0,151-0053,東京都渋谷区代々木**********,S13031,20150529.0,D-20100325-C,20190325.0,1.553472e+09,S13031,1192.0,1.0,P071401025,1.0,2400.0

In [18]:
pd.cut(df_sales_summary["age"],range(-1,100,10)[1:])
# cut : 配列を与えられた bin で区切る

# list(range(-1,100,10)[1:])

df_sales_summary = df_sales_summary.groupby( # groupby には [] で複数の条件やコラムを渡せる。
                    by=[
                        pd.cut(df_sales_summary["age"],range(-1,100,10)[1:]), # 1つは "age" を1-9，10-19，...とbin化した時どのグループに入るか
                        "gender_cd" # もう一つは 性別
                    ] # この2つで、年代別*性別のグループ分けができる
                )["amount"].sum() # そのグループ毎に amount の合計を取得


df_sales_summary # これで得られるデータは multiindex の series データ。第一インデックスに年代、第二インデックスに性別。

age       gender_cd
(9, 19]   0.0             1591.0
          1.0           149836.0
          9.0             4317.0
(19, 29]  0.0            72940.0
          1.0          1363724.0
          9.0            44328.0
(29, 39]  0.0           177322.0
          1.0           693047.0
          9.0            50441.0
(39, 49]  0.0            19355.0
          1.0          9320791.0
          9.0           483512.0
(49, 59]  0.0            54320.0
          1.0          6685192.0
          9.0           342923.0
(59, 69]  0.0           272469.0
          1.0           987741.0
          9.0            71418.0
(69, 79]  0.0            13435.0
          1.0            29764.0
          9.0             2427.0
(79, 89]  0.0            46360.0
          1.0           262923.0
          9.0             5111.0
(89, 99]  0.0                0.0
          1.0             6260.0
          9.0                NaN
Name: amount, dtype: float64

In [27]:

df_sales_summary.unstack(level="gender_cd") # unstack で コラムにしたい index level を渡す

gender_cd       0.0        1.0       9.0
age
(9, 19]      1591.0   149836.0    4317.0
(19, 29]    72940.0  1363724.0   44328.0
(29, 39]   177322.0   693047.0   50441.0
(39, 49]    19355.0  9320791.0  483512.0
(49, 59]    54320.0  6685192.0  342923.0
(59, 69]   272469.0   987741.0   71418.0
(69, 79]    13435.0    29764.0    2427.0
(79, 89]    46360.0   262923.0    5111.0
(89, 99]        0.0     6260.0       NaN

## P-044

---
> P-044： 前設問で作成した売上サマリデータフレーム（df_sales_summary）は性別の売上を横持ちさせたものであった。このデータフレームから性別を縦持ちさせ、年代、性別コード、売上金額の3項目に変換せよ。ただし、性別コードは男性を'00'、女性を'01'、不明を'99'とする。

In [ ]:
df_sales_summary = df_sales_summary.set_index('era'). \
        stack().reset_index().replace({'female':'01',
                                        'male':'00',
                                        'unknown':'99'}).rename(columns={'level_1':'gender_cd', 0: 'amount'})

In [ ]:
df_sales_summary

    era gender_cd     amount
0    10        00     1591.0
1    10        01   149836.0
2    10        99     4317.0
3    20        00    72940.0
4    20        01  1363724.0
5    20        99    44328.0
6    30        00   177322.0
7    30        01   693047.0
8    30        99    50441.0
9    40        00    19355.0
10   40        01  9320791.0
11   40        99   483512.0
12   50        00    54320.0
13   50        01  6685192.0
14   50        99   342923.0
15   60        00   272469.0
16   60        01   987741.0
17   60        99    71418.0
18   70        00    13435.0
19   70        01    29764.0
20   70        99     2427.0
21   80        00    46360.0
22   80        01   262923.0
23   80        99     5111.0
24   90        01     6260.0

In [28]:
## しんせいたろう解答
## このままでよいでしょ？
df_sales_summary

age       gender_cd
(9, 19]   0.0             1591.0
          1.0           149836.0
          9.0             4317.0
(19, 29]  0.0            72940.0
          1.0          1363724.0
          9.0            44328.0
(29, 39]  0.0           177322.0
          1.0           693047.0
          9.0            50441.0
(39, 49]  0.0            19355.0
          1.0          9320791.0
          9.0           483512.0
(49, 59]  0.0            54320.0
          1.0          6685192.0
          9.0           342923.0
(59, 69]  0.0           272469.0
          1.0           987741.0
          9.0            71418.0
(69, 79]  0.0            13435.0
          1.0            29764.0
          9.0             2427.0
(79, 89]  0.0            46360.0
          1.0           262923.0
          9.0             5111.0
(89, 99]  0.0                0.0
          1.0             6260.0
          9.0                NaN
Name: amount, dtype: float64

## P-045

---
> P-045: 顧客データフレーム（df_customer）の生年月日（birth_day）は日付型（Date）でデータを保有している。これをYYYYMMDD形式の文字列に変換し、顧客ID（customer_id）とともに抽出せよ。データは10件を抽出すれば良い。

In [ ]:
pd.concat([df_customer['customer_id'],
           pd.to_datetime(df_customer['birth_day']).dt.strftime('%Y%m%d')],
          axis = 1).head(10)

      customer_id birth_day
0  CS021313000114  19810429
1  CS037613000071  19520401
2  CS031415000172  19761004
3  CS028811000001  19330327
4  CS001215000145  19950329
5  CS020401000016  19740915
6  CS015414000103  19770809
7  CS029403000008  19730817
8  CS015804000004  19310502
9  CS033513000180  19620711

In [39]:
## しんせいたろう解答
df_045 = df_customer.copy()
df_045["birth_day"] = pd.to_datetime(df_045["birth_day"]).dt.strftime("%Y%m%d")
df_045[["customer_id", "birth_day"]].head(10)

      customer_id birth_day
0  CS021313000114  19810429
1  CS037613000071  19520401
2  CS031415000172  19761004
3  CS028811000001  19330327
4  CS001215000145  19950329
5  CS020401000016  19740915
6  CS015414000103  19770809
7  CS029403000008  19730817
8  CS015804000004  19310502
9  CS033513000180  19620711

##  P-046 (これは模範解答が間違ってた）

---
> P-046: 顧客データフレーム（df_customer）の申し込み日（application_date）はYYYYMMD形式の文字列型でデータを保有している。これを日付型（dateやdatetime）に変換し、顧客ID（customer_id）とともに抽出せよ。データは10件を抽出すれば良い。

In [ ]:
pd.concat([df_customer['customer_id'],pd.to_datetime(df_customer['application_date'])], axis=1).head(10)

      customer_id              application_date
0  CS021313000114 1970-01-01 00:00:00.020150905
1  CS037613000071 1970-01-01 00:00:00.020150414
2  CS031415000172 1970-01-01 00:00:00.020150529
3  CS028811000001 1970-01-01 00:00:00.020160115
4  CS001215000145 1970-01-01 00:00:00.020170605
5  CS020401000016 1970-01-01 00:00:00.020150225
6  CS015414000103 1970-01-01 00:00:00.020150722
7  CS029403000008 1970-01-01 00:00:00.020150515
8  CS015804000004 1970-01-01 00:00:00.020150607
9  CS033513000180 1970-01-01 00:00:00.020150728

In [44]:
## しんせいたろう解答 ⇑まちがってる。
df_046 = df_customer.copy()
df_046["application_date"] = pd.to_datetime(df_046["application_date"],format="%Y%m%d")
df_046[["customer_id", "application_date"]].head(10)

      customer_id application_date
0  CS021313000114       2015-09-05
1  CS037613000071       2015-04-14
2  CS031415000172       2015-05-29
3  CS028811000001       2016-01-15
4  CS001215000145       2017-06-05
5  CS020401000016       2015-02-25
6  CS015414000103       2015-07-22
7  CS029403000008       2015-05-15
8  CS015804000004       2015-06-07
9  CS033513000180       2015-07-28

## P-047

---
> P-047: レシート明細データフレーム（df_receipt）の売上日（sales_ymd）はYYYYMMDD形式の数値型でデータを保有している。これを日付型（dateやdatetime）に変換し、レシート番号(receipt_no)、レシートサブ番号（receipt_sub_no）とともに抽出せよ。データは10件を抽出すれば良い。

In [45]:
pd.concat([df_receipt[['receipt_no', 'receipt_sub_no']],
           pd.to_datetime(df_receipt['sales_ymd'].astype('str'))],axis=1).head(10)

   receipt_no  receipt_sub_no  sales_ymd
0         112               1 2018-11-03
1        1132               2 2018-11-18
2        1102               1 2017-07-12
3        1132               1 2019-02-05
4        1102               2 2018-08-21
5        1112               1 2019-06-05
6        1102               2 2018-12-05
7        1102               1 2019-09-22
8        1112               2 2017-05-04
9        1102               1 2019-10-10

In [49]:
## しんせいたろう解答 
df_047 = df_receipt.copy()
df_047["sales_ymd"] = pd.to_datetime(df_047["sales_ymd"], format="%Y%m%d")
df_047[["sales_ymd", "receipt_no", "receipt_sub_no"]].head(10)

   sales_ymd  receipt_no  receipt_sub_no
0 2018-11-03         112               1
1 2018-11-18        1132               2
2 2017-07-12        1102               1
3 2019-02-05        1132               1
4 2018-08-21        1102               2
5 2019-06-05        1112               1
6 2018-12-05        1102               2
7 2019-09-22        1102               1
8 2017-05-04        1112               2
9 2019-10-10        1102               1

## P-048

---
> P-048: レシート明細データフレーム（df_receipt）の売上エポック秒（sales_epoch）は数値型のUNIX秒でデータを保有している。これを日付型（dateやdatetime）に変換し、レシート番号(receipt_no)、レシートサブ番号（receipt_sub_no）とともに抽出せよ。データは10件を抽出すれば良い。

In [50]:
pd.concat([df_receipt[['receipt_no', 'receipt_sub_no']],
           pd.to_datetime(df_receipt['sales_epoch'], unit='s')],axis=1).head(10)

   receipt_no  receipt_sub_no sales_epoch
0         112               1  2018-11-03
1        1132               2  2018-11-18
2        1102               1  2017-07-12
3        1132               1  2019-02-05
4        1102               2  2018-08-21
5        1112               1  2019-06-05
6        1102               2  2018-12-05
7        1102               1  2019-09-22
8        1112               2  2017-05-04
9        1102               1  2019-10-10

In [54]:
df_048 = df_receipt.copy()
df_048["sales_epoch"] = pd.to_datetime(df_048["sales_epoch"], unit="s")
df_048[['sales_epoch', 'receipt_no', 'receipt_sub_no']].head(10)

  sales_epoch  receipt_no  receipt_sub_no
0  2018-11-03         112               1
1  2018-11-18        1132               2
2  2017-07-12        1102               1
3  2019-02-05        1132               1
4  2018-08-21        1102               2
5  2019-06-05        1112               1
6  2018-12-05        1102               2
7  2019-09-22        1102               1
8  2017-05-04        1112               2
9  2019-10-10        1102               1

## P-049
---
> P-049: レシート明細データフレーム（df_receipt）の売上エポック秒（sales_epoch）を日付型（timestamp型）に変換し、"年"だけ取り出してレシート番号(receipt_no)、レシートサブ番号（receipt_sub_no）とともに抽出せよ。データは10件を抽出すれば良い。

In [55]:
pd.concat([df_receipt[['receipt_no', 'receipt_sub_no']],
           pd.to_datetime(df_receipt['sales_epoch'], unit='s').dt.year],axis=1).head(10)

   receipt_no  receipt_sub_no  sales_epoch
0         112               1         2018
1        1132               2         2018
2        1102               1         2017
3        1132               1         2019
4        1102               2         2018
5        1112               1         2019
6        1102               2         2018
7        1102               1         2019
8        1112               2         2017
9        1102               1         2019

In [56]:
## しんせいたろう解答
df_049 = df_receipt.copy()
df_049["sales_epoch"] = pd.to_datetime(df_049["sales_epoch"], unit="s").dt.strftime("%Y")
df_049[['sales_epoch', 'receipt_no', 'receipt_sub_no']].head(10)

  sales_epoch  receipt_no  receipt_sub_no
0        2018         112               1
1        2018        1132               2
2        2017        1102               1
3        2019        1132               1
4        2018        1102               2
5        2019        1112               1
6        2018        1102               2
7        2019        1102               1
8        2017        1112               2
9        2019        1102               1

## P-050

---
> P-050: レシート明細データフレーム（df_receipt）の売上エポック秒（sales_epoch）を日付型（timestamp型）に変換し、"月"だけ取り出してレシート番号(receipt_no)、レシートサブ番号（receipt_sub_no）とともに抽出せよ。なお、"月"は0埋め2桁で取り出すこと。データは10件を抽出すれば良い。

In [57]:
# dt.monthでも月を取得できるが、ここでは0埋め２桁で取り出すためstrftimeを利用している
pd.concat([df_receipt[['receipt_no', 'receipt_sub_no']],
           pd.to_datetime(df_receipt['sales_epoch'], unit='s').dt.strftime('%m')],axis=1).head(10)

   receipt_no  receipt_sub_no sales_epoch
0         112               1          11
1        1132               2          11
2        1102               1          07
3        1132               1          02
4        1102               2          08
5        1112               1          06
6        1102               2          12
7        1102               1          09
8        1112               2          05
9        1102               1          10

In [58]:
## しんせいたろう解答
df_050 = df_receipt.copy()
df_050["month_sales_epoch"] = pd.to_datetime(df_050["sales_epoch"], unit="s").dt.strftime("%m")
df_050[["receipt_no", "receipt_sub_no", "month_sales_epoch"]].head(10)

   receipt_no  receipt_sub_no month_sales_epoch
0         112               1                11
1        1132               2                11
2        1102               1                07
3        1132               1                02
4        1102               2                08
5        1112               1                06
6        1102               2                12
7        1102               1                09
8        1112               2                05
9        1102               1                10

---
> P-051: レシート明細データフレーム（df_receipt）の売上エポック秒（sales_epoch）を日付型（timestamp型）に変換し、"日"だけ取り出してレシート番号(receipt_no)、レシートサブ番号（receipt_sub_no）とともに抽出せよ。なお、"日"は0埋め2桁で取り出すこと。データは10件を抽出すれば良い。

In [ ]:
# dt.dayでも日を取得できるが、ここでは0埋め２桁で取り出すためstrftimeを利用している
pd.concat([df_receipt[['receipt_no', 'receipt_sub_no']],
           pd.to_datetime(df_receipt['sales_epoch'], unit='s').dt.strftime('%d')],axis=1).head(10)

   receipt_no  receipt_sub_no sales_epoch
0         112               1          03
1        1132               2          18
2        1102               1          12
3        1132               1          05
4        1102               2          21
5        1112               1          05
6        1102               2          05
7        1102               1          22
8        1112               2          04
9        1102               1          10

---
> P-052: レシート明細データフレーム（df_receipt）の売上金額（amount）を顧客ID（customer_id）ごとに合計の上、売上金額合計に対して2000円以下を0、2000円超を1に2値化し、顧客ID、売上金額合計とともに10件表示せよ。ただし、顧客IDが"Z"から始まるのものは非会員を表すため、除外して計算すること。

In [ ]:
df_sales_amount = df_receipt.query('not customer_id.str.startswith("Z")', engine='python')
df_sales_amount = df_sales_amount[['customer_id', 'amount']].groupby('customer_id').sum().reset_index()
df_sales_amount['sales_flg'] = df_sales_amount['amount'].apply(lambda x: 1 if x > 2000 else 0)
df_sales_amount.head(10)

      customer_id  amount  sales_flg
0  CS001113000004    1298          0
1  CS001114000005     626          0
2  CS001115000010    3044          1
3  CS001205000004    1988          0
4  CS001205000006    3337          1
5  CS001211000025     456          0
6  CS001212000027     448          0
7  CS001212000031     296          0
8  CS001212000046     228          0
9  CS001212000070     456          0

---
> P-053: 顧客データフレーム（df_customer）の郵便番号（postal_cd）に対し、東京（先頭3桁が100〜209のもの）を1、それ以外のものを0に２値化せよ。さらにレシート明細データフレーム（df_receipt）と結合し、全期間において買い物実績のある顧客数を、作成した2値ごとにカウントせよ。

In [ ]:
df_tmp = df_customer[['customer_id', 'postal_cd']].copy()
df_tmp['postal_flg'] = df_tmp['postal_cd'].apply(lambda x: 1 if 100 <= int(x[0:3]) <= 209 else 0)

pd.merge(df_tmp, df_receipt, how='inner', on='customer_id'). \
    groupby('postal_flg').agg({'customer_id':'nunique'})

            customer_id
postal_flg
0                  3906
1                  4400

---
> P-054: 顧客データデータフレーム（df_customer）の住所（address）は、埼玉県、千葉県、東京都、神奈川県のいずれかとなっている。都道府県毎にコード値を作成し、顧客ID、住所とともに抽出せよ。値は埼玉県を11、千葉県を12、東京都を13、神奈川県を14とすること。結果は10件表示させれば良い。

In [ ]:
pd.concat([df_customer[['customer_id', 'address']], df_customer['address'].str[0:3].map({'埼玉県': '11',
                                                                           '千葉県':'12', 
                                                                           '東京都':'13', 
                                                                           '神奈川':'14'})], axis=1).head(10)

      customer_id                 address address
0  CS021313000114    神奈川県伊勢原市粟窪**********      14
1  CS037613000071      東京都江東区南砂**********      13
2  CS031415000172     東京都渋谷区代々木**********      13
3  CS028811000001  神奈川県横浜市泉区和泉町**********      14
4  CS001215000145     東京都大田区仲六郷**********      13
5  CS020401000016      東京都板橋区若木**********      13
6  CS015414000103      東京都江東区北砂**********      13
7  CS029403000008      千葉県浦安市海楽**********      12
8  CS015804000004      東京都江東区北砂**********      13
9  CS033513000180  神奈川県横浜市旭区善部町**********      14

---
> P-055: レシート明細データフレーム（df_receipt）の売上金額（amount）を顧客ID（customer_id）ごとに合計し、その合計金額の四分位点を求めよ。その上で、顧客ごとの売上金額合計に対して以下の基準でカテゴリ値を作成し、顧客ID、売上金額と合計ともに表示せよ。カテゴリ値は上から順に1〜4とする。結果は10件表示させれば良い。
>
> - 最小値以上第一四分位未満
> - 第一四分位以上第二四分位未満
> - 第二四分位以上第三四分位未満
> - 第三四分位以上

In [ ]:
# コード例1
df_sales_amount = df_receipt[['customer_id', 'amount']].groupby('customer_id').sum().reset_index()
pct25 = np.quantile(df_sales_amount['amount'], 0.25)
pct50 = np.quantile(df_sales_amount['amount'], 0.5)
pct75 = np.quantile(df_sales_amount['amount'], 0.75)

def pct_group(x):
    if x < pct25:
        return 1
    elif pct25 <= x < pct50:
        return 2
    elif pct50 <= x < pct75:
        return 3
    elif pct75 <= x:
        return 4

df_sales_amount['pct_group'] = df_sales_amount['amount'].apply(lambda x: pct_group(x))
df_sales_amount.head(10)

      customer_id  amount  pct_group
0  CS001113000004    1298          2
1  CS001114000005     626          2
2  CS001115000010    3044          3
3  CS001205000004    1988          3
4  CS001205000006    3337          3
5  CS001211000025     456          1
6  CS001212000027     448          1
7  CS001212000031     296          1
8  CS001212000046     228          1
9  CS001212000070     456          1

In [ ]:
# 確認用
print('pct25:', pct25)
print('pct50:', pct50)
print('pct75:', pct75)

pct25: 548.5
pct50: 1478.0
pct75: 3651.0

In [ ]:
# コード例2
df_temp = df_receipt.groupby('customer_id')[['amount']].sum()
df_temp['quantile'], bins = pd.qcut(df_receipt.groupby('customer_id')['amount'].sum(), 4, retbins=True)
display(df_temp.head())
print('quantiles:', bins)

                amount          quantile
customer_id
CS001113000004    1298   (548.5, 1478.0]
CS001114000005     626   (548.5, 1478.0]
CS001115000010    3044  (1478.0, 3651.0]
CS001205000004    1988  (1478.0, 3651.0]
CS001205000006    3337  (1478.0, 3651.0]

quantiles: [7.0000000e+01 5.4850000e+02 1.4780000e+03 3.6510000e+03 1.2395003e+07]

---
> P-056: 顧客データフレーム（df_customer）の年齢（age）をもとに10歳刻みで年代を算出し、顧客ID（customer_id）、生年月日（birth_day）とともに抽出せよ。ただし、60歳以上は全て60歳代とすること。年代を表すカテゴリ名は任意とする。先頭10件を表示させればよい。

In [ ]:
# コード例1
df_customer_era = pd.concat([df_customer[['customer_id', 'birth_day']],
                             df_customer['age'].apply(lambda x: min(math.floor(x / 10) * 10, 60))],
                             axis=1)

df_customer_era.head(10)

      customer_id   birth_day  age
0  CS021313000114  1981-04-29   30
1  CS037613000071  1952-04-01   60
2  CS031415000172  1976-10-04   40
3  CS028811000001  1933-03-27   60
4  CS001215000145  1995-03-29   20
5  CS020401000016  1974-09-15   40
6  CS015414000103  1977-08-09   40
7  CS029403000008  1973-08-17   40
8  CS015804000004  1931-05-02   60
9  CS033513000180  1962-07-11   50

In [ ]:
# コード例2
df_customer['age_group'] = pd.cut(df_customer['age'], bins=[0, 10, 20, 30, 40, 50, 60, np.inf], right=False)
df_customer[['customer_id', 'birth_day', 'age_group']].head(10)

      customer_id   birth_day     age_group
0  CS021313000114  1981-04-29  [30.0, 40.0)
1  CS037613000071  1952-04-01   [60.0, inf)
2  CS031415000172  1976-10-04  [40.0, 50.0)
3  CS028811000001  1933-03-27   [60.0, inf)
4  CS001215000145  1995-03-29  [20.0, 30.0)
5  CS020401000016  1974-09-15  [40.0, 50.0)
6  CS015414000103  1977-08-09  [40.0, 50.0)
7  CS029403000008  1973-08-17  [40.0, 50.0)
8  CS015804000004  1931-05-02   [60.0, inf)
9  CS033513000180  1962-07-11  [50.0, 60.0)

---
> P-057: 前問題の抽出結果と性別（gender）を組み合わせ、新たに性別×年代の組み合わせを表すカテゴリデータを作成せよ。組み合わせを表すカテゴリの値は任意とする。先頭10件を表示させればよい。

In [ ]:
df_customer_era['era_gender'] = df_customer['gender_cd'].astype('str') + df_customer_era['age'].astype('str')
df_customer_era.head(10)

      customer_id   birth_day  age era_gender
0  CS021313000114  1981-04-29   30        130
1  CS037613000071  1952-04-01   60        960
2  CS031415000172  1976-10-04   40        140
3  CS028811000001  1933-03-27   60        160
4  CS001215000145  1995-03-29   20        120
5  CS020401000016  1974-09-15   40        040
6  CS015414000103  1977-08-09   40        140
7  CS029403000008  1973-08-17   40        040
8  CS015804000004  1931-05-02   60        060
9  CS033513000180  1962-07-11   50        150

---
> P-058: 顧客データフレーム（df_customer）の性別コード（gender_cd）をダミー変数化し、顧客ID（customer_id）とともに抽出せよ。結果は10件表示させれば良い。

In [ ]:
pd.get_dummies(df_customer[['customer_id', 'gender_cd']], columns=['gender_cd']).head(10)

      customer_id  gender_cd_0  gender_cd_1  gender_cd_9
0  CS021313000114            0            1            0
1  CS037613000071            0            0            1
2  CS031415000172            0            1            0
3  CS028811000001            0            1            0
4  CS001215000145            0            1            0
5  CS020401000016            1            0            0
6  CS015414000103            0            1            0
7  CS029403000008            1            0            0
8  CS015804000004            1            0            0
9  CS033513000180            0            1            0

---
> P-059: レシート明細データフレーム（df_receipt）の売上金額（amount）を顧客ID（customer_id）ごとに合計し、合計した売上金額を平均0、標準偏差1に標準化して顧客ID、売上金額合計とともに表示せよ。標準化に使用する標準偏差は、不偏標準偏差と標本標準偏差のどちらでも良いものとする。ただし、顧客IDが"Z"から始まるのものは非会員を表すため、除外して計算すること。結果は10件表示させれば良い。

In [ ]:
# skleanのpreprocessing.scaleを利用するため、標本標準偏差で計算されている
df_sales_amount = df_receipt.query('not customer_id.str.startswith("Z")', engine='python'). \
    groupby('customer_id').agg({'amount':'sum'}).reset_index()
df_sales_amount['amount_ss'] = preprocessing.scale(df_sales_amount['amount'])
df_sales_amount.head(10)

      customer_id  amount  amount_ss
0  CS001113000004    1298  -0.459378
1  CS001114000005     626  -0.706390
2  CS001115000010    3044   0.182413
3  CS001205000004    1988  -0.205749
4  CS001205000006    3337   0.290114
5  CS001211000025     456  -0.768879
6  CS001212000027     448  -0.771819
7  CS001212000031     296  -0.827691
8  CS001212000046     228  -0.852686
9  CS001212000070     456  -0.768879

---
> P-060: レシート明細データフレーム（df_receipt）の売上金額（amount）を顧客ID（customer_id）ごとに合計し、合計した売上金額を最小値0、最大値1に正規化して顧客ID、売上金額合計とともに表示せよ。ただし、顧客IDが"Z"から始まるのものは非会員を表すため、除外して計算すること。結果は10件表示させれば良い。

In [ ]:
# skleanのpreprocessing.scaleを利用するため、標本標準偏差で計算されている
df_sales_amount = df_receipt.query('not customer_id.str.startswith("Z")', engine='python'). \
    groupby('customer_id').agg({'amount':'sum'}).reset_index()
df_sales_amount['amount_mm'] = preprocessing.minmax_scale(df_sales_amount['amount'])
df_sales_amount.head(10)

      customer_id  amount  amount_mm
0  CS001113000004    1298   0.053354
1  CS001114000005     626   0.024157
2  CS001115000010    3044   0.129214
3  CS001205000004    1988   0.083333
4  CS001205000006    3337   0.141945
5  CS001211000025     456   0.016771
6  CS001212000027     448   0.016423
7  CS001212000031     296   0.009819
8  CS001212000046     228   0.006865
9  CS001212000070     456   0.016771

---
> P-061: レシート明細データフレーム（df_receipt）の売上金額（amount）を顧客ID（customer_id）ごとに合計し、合計した売上金額を常用対数化（底=10）して顧客ID、売上金額合計とともに表示せよ。ただし、顧客IDが"Z"から始まるのものは非会員を表すため、除外して計算すること。結果は10件表示させれば良い。

In [ ]:
# skleanのpreprocessing.scaleを利用するため、標本標準偏差で計算されている
df_sales_amount = df_receipt.query('not customer_id.str.startswith("Z")', engine='python'). \
    groupby('customer_id').agg({'amount':'sum'}).reset_index()
df_sales_amount['amount_log10'] = np.log10(df_sales_amount['amount'] + 1)
df_sales_amount.head(10)

      customer_id  amount  amount_log10
0  CS001113000004    1298      3.113609
1  CS001114000005     626      2.797268
2  CS001115000010    3044      3.483587
3  CS001205000004    1988      3.298635
4  CS001205000006    3337      3.523486
5  CS001211000025     456      2.659916
6  CS001212000027     448      2.652246
7  CS001212000031     296      2.472756
8  CS001212000046     228      2.359835
9  CS001212000070     456      2.659916

---
> P-062: レシート明細データフレーム（df_receipt）の売上金額（amount）を顧客ID（customer_id）ごとに合計し、合計した売上金額を自然対数化(底=e）して顧客ID、売上金額合計とともに表示せよ。ただし、顧客IDが"Z"から始まるのものは非会員を表すため、除外して計算すること。結果は10件表示させれば良い。

In [ ]:
# skleanのpreprocessing.scaleを利用するため、標本標準偏差で計算されている
df_sales_amount = df_receipt.query('not customer_id.str.startswith("Z")', engine='python'). \
    groupby('customer_id').agg({'amount':'sum'}).reset_index()
df_sales_amount['amount_loge'] = np.log(df_sales_amount['amount'] + 1)
df_sales_amount.head(10)

      customer_id  amount  amount_loge
0  CS001113000004    1298     7.169350
1  CS001114000005     626     6.440947
2  CS001115000010    3044     8.021256
3  CS001205000004    1988     7.595387
4  CS001205000006    3337     8.113127
5  CS001211000025     456     6.124683
6  CS001212000027     448     6.107023
7  CS001212000031     296     5.693732
8  CS001212000046     228     5.433722
9  CS001212000070     456     6.124683

---
> P-063: 商品データフレーム（df_product）の単価（unit_price）と原価（unit_cost）から、各商品の利益額を算出せよ。結果は10件表示させれば良い。

In [ ]:
df_tmp = df_product.copy()
df_tmp['unit_profit'] = df_tmp['unit_price'] - df_tmp['unit_cost']
df_tmp.head(10)

   product_cd  category_major_cd  ...  unit_cost  unit_profit
0  P040101001                  4  ...      149.0         49.0
1  P040101002                  4  ...      164.0         54.0
2  P040101003                  4  ...      173.0         57.0
3  P040101004                  4  ...      186.0         62.0
4  P040101005                  4  ...      201.0         67.0
5  P040101006                  4  ...      224.0         74.0
6  P040101007                  4  ...      254.0         84.0
7  P040101008                  4  ...      315.0        105.0
8  P040101009                  4  ...      374.0        124.0
9  P040101010                  4  ...      435.0        145.0

[10 rows x 7 columns]

---
> P-064: 商品データフレーム（df_product）の単価（unit_price）と原価（unit_cost）から、各商品の利益率の全体平均を算出せよ。
ただし、単価と原価にはNULLが存在することに注意せよ。

In [ ]:
df_tmp = df_product.copy()
df_tmp['unit_profit_rate'] = (df_tmp['unit_price'] - df_tmp['unit_cost']) / df_tmp['unit_price']
df_tmp['unit_profit_rate'].mean(skipna=True)

0.24911389885176904

---
> P-065: 商品データフレーム（df_product）の各商品について、利益率が30%となる新たな単価を求めよ。ただし、1円未満は切り捨てること。そして結果を10件表示させ、利益率がおよそ30％付近であることを確認せよ。ただし、単価（unit_price）と原価（unit_cost）にはNULLが存在することに注意せよ。

In [ ]:
# math.floorはNaNでエラーとなるが、numpy.floorはエラーとならない
df_tmp = df_product.copy()
df_tmp['new_price'] = df_tmp['unit_cost'].apply(lambda x: np.floor(x / 0.7))
df_tmp['new_profit_rate'] = (df_tmp['new_price'] - df_tmp['unit_cost']) / df_tmp['new_price']
df_tmp.head(10)

   product_cd  category_major_cd  ...  new_price  new_profit_rate
0  P040101001                  4  ...      212.0         0.297170
1  P040101002                  4  ...      234.0         0.299145
2  P040101003                  4  ...      247.0         0.299595
3  P040101004                  4  ...      265.0         0.298113
4  P040101005                  4  ...      287.0         0.299652
5  P040101006                  4  ...      320.0         0.300000
6  P040101007                  4  ...      362.0         0.298343
7  P040101008                  4  ...      450.0         0.300000
8  P040101009                  4  ...      534.0         0.299625
9  P040101010                  4  ...      621.0         0.299517

[10 rows x 8 columns]

---
> P-066: 商品データフレーム（df_product）の各商品について、利益率が30%となる新たな単価を求めよ。今回は、1円未満を四捨五入すること（0.5については偶数方向の丸めで良い）。そして結果を10件表示させ、利益率がおよそ30％付近であることを確認せよ。ただし、単価（unit_price）と原価（unit_cost）にはNULLが存在することに注意せよ。

In [ ]:
# 組み込みのroundはNaNでエラーとなるが、numpy.roundはエラーとならない
df_tmp = df_product.copy()
df_tmp['new_price'] = df_tmp['unit_cost'].apply(lambda x: np.round(x / 0.7))
df_tmp['new_profit_rate'] = (df_tmp['new_price'] - df_tmp['unit_cost']) / df_tmp['new_price']
df_tmp.head(10)

   product_cd  category_major_cd  ...  new_price  new_profit_rate
0  P040101001                  4  ...      213.0         0.300469
1  P040101002                  4  ...      234.0         0.299145
2  P040101003                  4  ...      247.0         0.299595
3  P040101004                  4  ...      266.0         0.300752
4  P040101005                  4  ...      287.0         0.299652
5  P040101006                  4  ...      320.0         0.300000
6  P040101007                  4  ...      363.0         0.300275
7  P040101008                  4  ...      450.0         0.300000
8  P040101009                  4  ...      534.0         0.299625
9  P040101010                  4  ...      621.0         0.299517

[10 rows x 8 columns]

---
> P-067: 商品データフレーム（df_product）の各商品について、利益率が30%となる新たな単価を求めよ。今回は、1円未満を切り上げること。そして結果を10件表示させ、利益率がおよそ30％付近であることを確認せよ。ただし、単価（unit_price）と原価（unit_cost）にはNULLが存在することに注意せよ。

In [ ]:
# math.ceilはNaNでエラーとなるが、numpy.ceilはエラーとならない
df_tmp = df_product.copy()
df_tmp['new_price'] = df_tmp['unit_cost'].apply(lambda x: np.ceil(x / 0.7))
df_tmp['new_profit_rate'] = (df_tmp['new_price'] - df_tmp['unit_cost']) / df_tmp['new_price']
df_tmp.head(10)

   product_cd  category_major_cd  ...  new_price  new_profit_rate
0  P040101001                  4  ...      213.0         0.300469
1  P040101002                  4  ...      235.0         0.302128
2  P040101003                  4  ...      248.0         0.302419
3  P040101004                  4  ...      266.0         0.300752
4  P040101005                  4  ...      288.0         0.302083
5  P040101006                  4  ...      320.0         0.300000
6  P040101007                  4  ...      363.0         0.300275
7  P040101008                  4  ...      451.0         0.301552
8  P040101009                  4  ...      535.0         0.300935
9  P040101010                  4  ...      622.0         0.300643

[10 rows x 8 columns]

---
> P-068: 商品データフレーム（df_product）の各商品について、消費税率10%の税込み金額を求めよ。 1円未満の端数は切り捨てとし、結果は10件表示すれば良い。ただし、単価（unit_price）にはNULLが存在することに注意せよ。

In [ ]:
# math.floorはNaNでエラーとなるが、numpy.floorはエラーとならない
df_tmp = df_product.copy()
df_tmp['price_tax'] = df_tmp['unit_price'].apply(lambda x: np.floor(x * 1.1))
df_tmp.head(10)

   product_cd  category_major_cd  ...  unit_cost  price_tax
0  P040101001                  4  ...      149.0      217.0
1  P040101002                  4  ...      164.0      239.0
2  P040101003                  4  ...      173.0      253.0
3  P040101004                  4  ...      186.0      272.0
4  P040101005                  4  ...      201.0      294.0
5  P040101006                  4  ...      224.0      327.0
6  P040101007                  4  ...      254.0      371.0
7  P040101008                  4  ...      315.0      462.0
8  P040101009                  4  ...      374.0      547.0
9  P040101010                  4  ...      435.0      638.0

[10 rows x 7 columns]

---
> P-069: レシート明細データフレーム（df_receipt）と商品データフレーム（df_product）を結合し、顧客毎に全商品の売上金額合計と、カテゴリ大区分（category_major_cd）が"07"（瓶詰缶詰）の売上金額合計を計算の上、両者の比率を求めよ。抽出対象はカテゴリ大区分"07"（瓶詰缶詰）の購入実績がある顧客のみとし、結果は10件表示させればよい。

In [ ]:
# コード例1
df_tmp_1 = pd.merge(df_receipt, df_product, 
                    how='inner', on='product_cd').groupby('customer_id').agg({'amount':'sum'}).reset_index()

df_tmp_2 = pd.merge(df_receipt, df_product.query('category_major_cd == "07"'), 
                    how='inner', on='product_cd').groupby('customer_id').agg({'amount':'sum'}).reset_index()

df_tmp_3 = pd.merge(df_tmp_1, df_tmp_2, how='inner', on='customer_id')
df_tmp_3['rate_07'] = df_tmp_3['amount_y'] / df_tmp_3['amount_x']
df_tmp_3.head(10)

      customer_id  amount_x  amount_y   rate_07
0  CS001113000004      1298      1298  1.000000
1  CS001114000005       626       486  0.776358
2  CS001115000010      3044      2694  0.885020
3  CS001205000004      1988       346  0.174044
4  CS001205000006      3337      2004  0.600539
5  CS001212000027       448       200  0.446429
6  CS001212000031       296       296  1.000000
7  CS001212000046       228       108  0.473684
8  CS001212000070       456       308  0.675439
9  CS001213000018       243       145  0.596708

In [ ]:
# コード例2
df_temp = df_receipt.merge(df_product, how='left', on='product_cd').groupby(['customer_id', 'category_major_cd'])['amount'].sum().unstack()
df_temp = df_temp[df_temp[7] > 0]
df_temp['sum'] = df_temp.sum(axis=1)
df_temp['07_rate'] = df_temp[7] / df_temp['sum']
df_temp.head(10)

category_major_cd      4      5      6       7      8      9     sum   07_rate
customer_id
CS001113000004       NaN    NaN    NaN  1298.0    NaN    NaN  1298.0  1.000000
CS001114000005       NaN   40.0    NaN   486.0  100.0    NaN   626.0  0.776358
CS001115000010       NaN    NaN    NaN  2694.0    NaN  350.0  3044.0  0.885020
CS001205000004     100.0  128.0  286.0   346.0  368.0  760.0  1988.0  0.174044
CS001205000006     635.0   60.0  198.0  2004.0   80.0  360.0  3337.0  0.600539
CS001212000027     248.0    NaN    NaN   200.0    NaN    NaN   448.0  0.446429
CS001212000031       NaN    NaN    NaN   296.0    NaN    NaN   296.0  1.000000
CS001212000046       NaN    NaN    NaN   108.0    NaN  120.0   228.0  0.473684
CS001212000070       NaN    NaN  148.0   308.0    NaN    NaN   456.0  0.675439
CS001213000018       NaN    NaN    NaN   145.0   98.0    NaN   243.0  0.596708

---
> P-070: レシート明細データフレーム（df_receipt）の売上日（sales_ymd）に対し、顧客データフレーム（df_customer）の会員申込日（application_date）からの経過日数を計算し、顧客ID（customer_id）、売上日、会員申込日とともに表示せよ。結果は10件表示させれば良い（なお、sales_ymdは数値、application_dateは文字列でデータを保持している点に注意）。

In [ ]:
df_tmp = pd.merge(df_receipt[['customer_id', 'sales_ymd']], df_customer[['customer_id', 'application_date']],
                 how='inner', on='customer_id')

df_tmp = df_tmp.drop_duplicates()

df_tmp['sales_ymd'] = pd.to_datetime(df_tmp['sales_ymd'].astype('str'))
df_tmp['application_date'] = pd.to_datetime(df_tmp['application_date'])
df_tmp['elapsed_date'] = df_tmp['sales_ymd'] - df_tmp['application_date']
df_tmp.head(10)

       customer_id  ...                  elapsed_date
0   CS006214000001  ... 17837 days 23:59:59.979849799
1   CS006214000001  ... 17294 days 23:59:59.979849799
2   CS006214000001  ... 17324 days 23:59:59.979849799
4   CS006214000001  ... 17831 days 23:59:59.979849799
7   CS006214000001  ... 18146 days 23:59:59.979849799
8   CS006214000001  ... 17561 days 23:59:59.979849799
9   CS006214000001  ... 17351 days 23:59:59.979849799
10  CS006214000001  ... 17844 days 23:59:59.979849799
12  CS006214000001  ... 17995 days 23:59:59.979849799
15  CS006214000001  ... 18047 days 23:59:59.979849799

[10 rows x 4 columns]

---
> P-071: レシート明細データフレーム（df_receipt）の売上日（sales_ymd）に対し、顧客データフレーム（df_customer）の会員申込日（application_date）からの経過月数を計算し、顧客ID（customer_id）、売上日、会員申込日とともに表示せよ。結果は10件表示させれば良い（なお、sales_ymdは数値、application_dateは文字列でデータを保持している点に注意）。1ヶ月未満は切り捨てること。

In [ ]:
df_tmp = pd.merge(df_receipt[['customer_id', 'sales_ymd']], df_customer[['customer_id', 'application_date']],
                 how='inner', on='customer_id')

df_tmp = df_tmp.drop_duplicates()

df_tmp['sales_ymd'] = pd.to_datetime(df_tmp['sales_ymd'].astype('str'))
df_tmp['application_date'] = pd.to_datetime(df_tmp['application_date'])

df_tmp['elapsed_date'] = df_tmp[['sales_ymd', 'application_date']].apply(lambda x: 
                                    relativedelta(x[0], x[1]).years * 12 + relativedelta(x[0], x[1]).months, axis=1)
df_tmp.sort_values('customer_id').head(10)

          customer_id  sales_ymd              application_date  elapsed_date
60376  CS001113000004 2019-03-08 1970-01-01 00:00:00.020151105           590
20158  CS001114000005 2019-07-31 1970-01-01 00:00:00.020160412           594
20156  CS001114000005 2018-05-03 1970-01-01 00:00:00.020160412           580
29140  CS001115000010 2019-04-05 1970-01-01 00:00:00.020150417           591
29141  CS001115000010 2018-07-01 1970-01-01 00:00:00.020150417           581
29142  CS001115000010 2017-12-28 1970-01-01 00:00:00.020150417           575
6526   CS001205000004 2019-06-25 1970-01-01 00:00:00.020160615           593
6521   CS001205000004 2019-03-12 1970-01-01 00:00:00.020160615           590
6518   CS001205000004 2018-08-21 1970-01-01 00:00:00.020160615           583
6520   CS001205000004 2017-09-14 1970-01-01 00:00:00.020160615           572

---
> P-072: レシート明細データフレーム（df_receipt）の売上日（sales_ymd）に対し、顧客データフレーム（df_customer）の会員申込日（application_date）からの経過年数を計算し、顧客ID（customer_id）、売上日、会員申込日とともに表示せよ。結果は10件表示させれば良い。（なお、sales_ymdは数値、application_dateは文字列でデータを保持している点に注意）。1年未満は切り捨てること。

In [ ]:
df_tmp = pd.merge(df_receipt[['customer_id', 'sales_ymd']], df_customer[['customer_id', 'application_date']],
                 how='inner', on='customer_id')

df_tmp['sales_ymd'] = pd.to_datetime(df_tmp['sales_ymd'].astype('str'))
df_tmp['application_date'] = pd.to_datetime(df_tmp['application_date'])

df_tmp['elapsed_date'] = df_tmp[['sales_ymd', 'application_date']].apply(lambda x: 
                                                                         relativedelta(x[0], x[1]).years, axis=1)
df_tmp.head(10)

      customer_id  sales_ymd              application_date  elapsed_date
0  CS006214000001 2018-11-03 1970-01-01 00:00:00.020150201            48
1  CS006214000001 2017-05-09 1970-01-01 00:00:00.020150201            47
2  CS006214000001 2017-06-08 1970-01-01 00:00:00.020150201            47
3  CS006214000001 2017-06-08 1970-01-01 00:00:00.020150201            47
4  CS006214000001 2018-10-28 1970-01-01 00:00:00.020150201            48
5  CS006214000001 2018-10-28 1970-01-01 00:00:00.020150201            48
6  CS006214000001 2017-05-09 1970-01-01 00:00:00.020150201            47
7  CS006214000001 2019-09-08 1970-01-01 00:00:00.020150201            49
8  CS006214000001 2018-01-31 1970-01-01 00:00:00.020150201            48
9  CS006214000001 2017-07-05 1970-01-01 00:00:00.020150201            47

---
> P-073: レシート明細データフレーム（df_receipt）の売上日（sales_ymd）に対し、顧客データフレーム（df_customer）の会員申込日（application_date）からのエポック秒による経過時間を計算し、顧客ID（customer_id）、売上日、会員申込日とともに表示せよ。結果は10件表示させれば良い（なお、sales_ymdは数値、application_dateは文字列でデータを保持している点に注意）。なお、時間情報は保有していないため各日付は0時0分0秒を表すものとする。

In [ ]:
df_tmp = pd.merge(df_receipt[['customer_id', 'sales_ymd']], df_customer[['customer_id', 'application_date']],
                 how='inner', on='customer_id')

df_tmp = df_tmp.drop_duplicates()

df_tmp['sales_ymd'] = pd.to_datetime(df_tmp['sales_ymd'].astype('str'))
df_tmp['application_date'] = pd.to_datetime(df_tmp['application_date'])

df_tmp['elapsed_date'] = (df_tmp['sales_ymd'].astype(np.int64) / 10**9) - (df_tmp['application_date'].astype(np.int64) / 10**9)
df_tmp.head(10)

       customer_id  sales_ymd              application_date  elapsed_date
0   CS006214000001 2018-11-03 1970-01-01 00:00:00.020150201  1.541203e+09
1   CS006214000001 2017-05-09 1970-01-01 00:00:00.020150201  1.494288e+09
2   CS006214000001 2017-06-08 1970-01-01 00:00:00.020150201  1.496880e+09
4   CS006214000001 2018-10-28 1970-01-01 00:00:00.020150201  1.540685e+09
7   CS006214000001 2019-09-08 1970-01-01 00:00:00.020150201  1.567901e+09
8   CS006214000001 2018-01-31 1970-01-01 00:00:00.020150201  1.517357e+09
9   CS006214000001 2017-07-05 1970-01-01 00:00:00.020150201  1.499213e+09
10  CS006214000001 2018-11-10 1970-01-01 00:00:00.020150201  1.541808e+09
12  CS006214000001 2019-04-10 1970-01-01 00:00:00.020150201  1.554854e+09
15  CS006214000001 2019-06-01 1970-01-01 00:00:00.020150201  1.559347e+09

---
> P-074: レシート明細データフレーム（df_receipt）の売上日（sales_ymd）に対し、当該週の月曜日からの経過日数を計算し、売上日、当該週の月曜日付とともに表示せよ。結果は10件表示させれば良い（なお、sales_ymdは数値でデータを保持している点に注意）。

In [ ]:
df_tmp = df_receipt[['customer_id', 'sales_ymd']]
df_tmp = df_tmp.drop_duplicates()
df_tmp['sales_ymd'] = pd.to_datetime(df_tmp['sales_ymd'].astype('str'))
df_tmp['monday'] = df_tmp['sales_ymd'].apply(lambda x: x - relativedelta(days=x.weekday()))
df_tmp['elapsed_weekday'] = df_tmp['sales_ymd'] - df_tmp['monday']
df_tmp.head(10)

      customer_id  sales_ymd     monday elapsed_weekday
0  CS006214000001 2018-11-03 2018-10-29          5 days
1  CS008415000097 2018-11-18 2018-11-12          6 days
2  CS028414000014 2017-07-12 2017-07-10          2 days
3  ZZ000000000000 2019-02-05 2019-02-04          1 days
4  CS025415000050 2018-08-21 2018-08-20          1 days
5  CS003515000195 2019-06-05 2019-06-03          2 days
6  CS024514000042 2018-12-05 2018-12-03          2 days
7  CS040415000178 2019-09-22 2019-09-16          6 days
8  ZZ000000000000 2017-05-04 2017-05-01          3 days
9  CS027514000015 2019-10-10 2019-10-07          3 days

---
> P-075: 顧客データフレーム（df_customer）からランダムに1%のデータを抽出し、先頭から10件データを抽出せよ。

In [ ]:
df_customer.sample(frac=0.01).head(10)

          customer_id customer_name  ...     status_cd     age_group
10221  CS022415000257        合田 あさみ  ...  8-20090922-9  [40.0, 50.0)
19153  CS013312000118         森井 結衣  ...  0-00000000-0  [30.0, 40.0)
15286  CS035515000264        織田 れいな  ...  8-20100807-9  [50.0, 60.0)
9197   CS027612000103          大谷 涼  ...  0-00000000-0   [60.0, inf)
14619  CS031612000067         宮原 美幸  ...  0-00000000-0   [60.0, inf)
9629   CS009415000088          劇団 咲  ...  E-20101016-F  [40.0, 50.0)
1221   CS016415000063         松川 美佳  ...  D-20091118-E  [40.0, 50.0)
12384  CS009413000263        杉原 真悠子  ...  0-00000000-0  [40.0, 50.0)
4067   CS008115000005          谷川 瞳  ...  3-20100315-1  [10.0, 20.0)
17723  CS017412000102        佐々木 千夏  ...  0-00000000-0  [40.0, 50.0)

[10 rows x 12 columns]

---
> P-076: 顧客データフレーム（df_customer）から性別（gender_cd）の割合に基づきランダムに10%のデータを層化抽出データし、性別ごとに件数を集計せよ。

In [ ]:
# sklearn.model_selection.train_test_splitを使用した例
_, df_tmp = train_test_split(df_customer, test_size=0.1, stratify=df_customer['gender'])
df_tmp.groupby('gender_cd').agg({'customer_id' : 'count'})

           customer_id
gender_cd
0                  298
1                 1793
9                  107

In [ ]:
df_tmp.head(10)

          customer_id customer_name  ...     status_cd     age_group
661    CS003212000012        大河内 陽子  ...  7-20100912-2  [20.0, 30.0)
11318  CS002215000131        森下 はるみ  ...  0-00000000-0  [20.0, 30.0)
7774   CS029312000125         長沢 明日  ...  0-00000000-0  [40.0, 50.0)
6737   CS002614000058         永井 怜奈  ...  0-00000000-0   [60.0, inf)
2466   CS012415000051          桑田 優  ...  B-20101029-B  [40.0, 50.0)
11419  CS002411000149         久野 りえ  ...  4-20100811-7  [40.0, 50.0)
18826  CS027415000053         西村 まみ  ...  B-20100625-E  [40.0, 50.0)
17919  CS027715000080          山上 愛  ...  0-00000000-0   [60.0, inf)
4225   CS024415000076         石倉 芽以  ...  B-20100515-D  [40.0, 50.0)
7058   CS040713000015          戸田 遥  ...  0-00000000-0   [60.0, inf)

[10 rows x 12 columns]

---
> P-077: レシート明細データフレーム（df_receipt）の売上金額（amount）を顧客単位に合計し、合計した売上金額の外れ値を抽出せよ。ただし、顧客IDが"Z"から始まるのものは非会員を表すため、除外して計算すること。なお、ここでは外れ値を平均から3σ以上離れたものとする。結果は10件表示させれば良い。

In [ ]:
# skleanのpreprocessing.scaleを利用するため、標本標準偏差で計算されている
df_sales_amount = df_receipt.query('not customer_id.str.startswith("Z")', engine='python'). \
    groupby('customer_id').agg({'amount':'sum'}).reset_index()
df_sales_amount['amount_ss'] = preprocessing.scale(df_sales_amount['amount'])
df_sales_amount.query('abs(amount_ss) >= 3').head(10)

         customer_id  amount  amount_ss
332   CS001605000009   18925   6.019921
1755  CS006415000147   12723   3.740202
1817  CS006515000023   18372   5.816651
1833  CS006515000125   12575   3.685800
1841  CS006515000209   11373   3.243972
1870  CS007115000006   11528   3.300946
1941  CS007514000056   13293   3.949721
1943  CS007514000094   15735   4.847347
1951  CS007515000107   11188   3.175970
1997  CS007615000026   11959   3.459372

---
> P-078: レシート明細データフレーム（df_receipt）の売上金額（amount）を顧客単位に合計し、合計した売上金額の外れ値を抽出せよ。ただし、顧客IDが"Z"から始まるのものは非会員を表すため、除外して計算すること。なお、ここでは外れ値を第一四分位と第三四分位の差であるIQRを用いて、「第一四分位数-1.5×IQR」よりも下回るもの、または「第三四分位数+1.5×IQR」を超えるものとする。結果は10件表示させれば良い。

In [ ]:
# skleanのpreprocessing.scaleを利用するため、標本標準偏差で計算されている
df_sales_amount = df_receipt.query('not customer_id.str.startswith("Z")', engine='python'). \
    groupby('customer_id').agg({'amount':'sum'}).reset_index()

pct75 = np.percentile(df_sales_amount['amount'], q=75)
pct25 = np.percentile(df_sales_amount['amount'], q=25)
iqr = pct75 - pct25
amount_low = pct25 - (iqr * 1.5)
amount_hight = pct75 + (iqr * 1.5)
df_sales_amount.query('amount < @amount_low or @amount_hight < amount').head(10)

         customer_id  amount
98    CS001414000048    8584
332   CS001605000009   18925
549   CS002415000594    9568
1180  CS004414000181    9584
1558  CS005415000137    8734
1733  CS006414000001    9156
1736  CS006414000029    9179
1752  CS006415000105   10042
1755  CS006415000147   12723
1757  CS006415000157   10648

---
> P-079: 商品データフレーム（df_product）の各項目に対し、欠損数を確認せよ。

In [ ]:
df_product.isnull().sum()

product_cd            0
category_major_cd     0
category_medium_cd    0
category_small_cd     0
unit_price            7
unit_cost             7
dtype: int64

---
> P-080: 商品データフレーム（df_product）のいずれかの項目に欠損が発生しているレコードを全て削除した新たなdf_product_1を作成せよ。なお、削除前後の件数を表示させ、前設問で確認した件数だけ減少していることも確認すること。

In [ ]:
df_product_1 = df_product.copy()
print('削除前:', len(df_product_1))
df_product_1.dropna(inplace=True)
print('削除後:', len(df_product_1))

削除前: 10030
削除後: 10023

---
> P-081: 単価（unit_price）と原価（unit_cost）の欠損値について、それぞれの平均値で補完した新たなdf_product_2を作成せよ。なお、平均値について1円未満は四捨五入とし、0.5については偶数寄せでかまわない。補完実施後、各項目について欠損が生じていないことも確認すること。

In [ ]:
df_product_2 = df_product.fillna({'unit_price':np.round(np.nanmean(df_product['unit_price'])), 
                                  'unit_cost':np.round(np.nanmean(df_product['unit_cost']))})
df_product_2.isnull().sum()

product_cd            0
category_major_cd     0
category_medium_cd    0
category_small_cd     0
unit_price            0
unit_cost             0
dtype: int64

---
> P-082: 単価（unit_price）と原価（unit_cost）の欠損値について、それぞれの中央値で補完した新たなdf_product_3を作成せよ。なお、中央値について1円未満は四捨五入とし、0.5については偶数寄せでかまわない。補完実施後、各項目について欠損が生じていないことも確認すること。

In [ ]:
df_product_3 = df_product.fillna({'unit_price':np.round(np.nanmedian(df_product['unit_price'])), 
                                  'unit_cost':np.round(np.nanmedian(df_product['unit_cost']))})
df_product_3.isnull().sum()

product_cd            0
category_major_cd     0
category_medium_cd    0
category_small_cd     0
unit_price            0
unit_cost             0
dtype: int64

---
> P-083: 単価（unit_price）と原価（unit_cost）の欠損値について、各商品の小区分（category_small_cd）ごとに算出した中央値で補完した新たなdf_product_4を作成せよ。なお、中央値について1円未満は四捨五入とし、0.5については偶数寄せでかまわない。補完実施後、各項目について欠損が生じていないことも確認すること。

In [ ]:
df_tmp = df_product.groupby('category_small_cd').agg({'unit_price':'median', 'unit_cost':'median'}).reset_index()
df_tmp.columns = ['category_small_cd', 'median_price', 'median_cost']

df_product_4 = pd.merge(df_product, df_tmp, how='inner', on='category_small_cd')

df_product_4['unit_price'] = df_product_4[['unit_price', 'median_price']]. \
                    apply(lambda x: np.round(x[1]) if np.isnan(x[0]) else x[0], axis=1)
df_product_4['unit_cost'] = df_product_4[['unit_cost', 'median_cost']]. \
                    apply(lambda x: np.round(x[1]) if np.isnan(x[0]) else x[0], axis=1)

df_product_4.isnull().sum()

product_cd            0
category_major_cd     0
category_medium_cd    0
category_small_cd     0
unit_price            0
unit_cost             0
median_price          0
median_cost           0
dtype: int64

---
> P-084: 顧客データフレーム（df_customer）の全顧客に対し、全期間の売上金額に占める2019年売上金額の割合を計算せよ。ただし、販売実績のない場合は0として扱うこと。そして計算した割合が0超のものを抽出せよ。 結果は10件表示させれば良い。また、作成したデータにNAやNANが存在しないことを確認せよ。

In [ ]:
df_tmp_1 = df_receipt.query('20190101 <= sales_ymd <= 20191231')
df_tmp_1 = pd.merge(df_customer['customer_id'], df_tmp_1[['customer_id', 'amount']], how='left', on='customer_id'). \
    groupby('customer_id').sum().reset_index().rename(columns={'amount':'amount_2019'})

df_tmp_2 = pd.merge(df_customer['customer_id'], df_receipt[['customer_id', 'amount']], how='left', on='customer_id'). \
    groupby('customer_id').sum().reset_index()

df_tmp = pd.merge(df_tmp_1, df_tmp_2, how='inner', on='customer_id')
df_tmp['amount_rate'] = df_tmp['amount_2019'] / df_tmp['amount']

In [ ]:
df_tmp.query('amount_rate > 0').head(10)

       customer_id  amount_2019  amount  amount_rate
8   CS001113000004       1298.0  1298.0     1.000000
10  CS001114000005        188.0   626.0     0.300319
12  CS001115000010        578.0  3044.0     0.189882
17  CS001205000004        702.0  1988.0     0.353119
18  CS001205000006        486.0  3337.0     0.145640
23  CS001211000025        456.0   456.0     1.000000
30  CS001212000070        456.0   456.0     1.000000
57  CS001214000009        664.0  4685.0     0.141729
59  CS001214000017       2962.0  4132.0     0.716844
61  CS001214000048       1889.0  2374.0     0.795703

In [ ]:
df_product_4.isnull().sum()

product_cd            0
category_major_cd     0
category_medium_cd    0
category_small_cd     0
unit_price            0
unit_cost             0
median_price          0
median_cost           0
dtype: int64

---
> P-085: 顧客データフレーム（df_customer）の全顧客に対し、郵便番号（postal_cd）を用いて経度緯度変換用データフレーム（df_geocode）を紐付け、新たなdf_customer_1を作成せよ。ただし、複数紐づく場合は経度（longitude）、緯度（latitude）それぞれ平均を算出すること。

In [ ]:
df_customer_1 = pd.merge(df_customer[['customer_id', 'postal_cd']],
                         df_geocode[['postal_cd', 'longitude' ,'latitude']],
                         how='inner', on='postal_cd')
df_customer_1 = df_customer_1.groupby('customer_id'). \
    agg({'longitude':'mean', 'latitude':'mean'}).reset_index(). \
    rename(columns={'longitude':'m_longitude', 'latitude':'m_latitude'})

df_customer_1 = pd.merge(df_customer, df_customer_1, how='inner', on='customer_id')
df_customer_1.head(3)

      customer_id customer_name  ...  m_longitude m_latitude
0  CS021313000114        大野 あや子  ...    139.31779   35.41358
1  CS037613000071         六角 雅彦  ...    139.83502   35.67193
2  CS031415000172       宇多田 貴美子  ...    139.68965   35.67374

[3 rows x 14 columns]

---
> P-086: 前設問で作成した緯度経度つき顧客データフレーム（df_customer_1）に対し、申込み店舗コード（application_store_cd）をキーに店舗データフレーム（df_store）と結合せよ。そして申込み店舗の緯度（latitude）・経度情報（longitude)と顧客の緯度・経度を用いて距離（km）を求め、顧客ID（customer_id）、顧客住所（address）、店舗住所（address）とともに表示せよ。計算式は簡易式で良いものとするが、その他精度の高い方式を利用したライブラリを利用してもかまわない。結果は10件表示すれば良い。

$$
緯度（ラジアン）：\phi \\
経度（ラジアン）：\lambda \\
距離L = 6371 * arccos(sin \phi_1 * sin \phi_2
+ cos \phi_1 * cos \phi_2 * cos(\lambda_1 − \lambda_2))
$$

In [ ]:
def calc_distance(x1, y1, x2, y2):
    distance = 6371 * math.acos(math.sin(math.radians(y1)) * math.sin(math.radians(y2)) 
                       + math.cos(math.radians(y1)) * math.cos(math.radians(y2)) 
                            * math.cos(math.radians(x1) - math.radians(x2)))
    return distance

df_tmp = pd.merge(df_customer_1, df_store, how='inner', left_on='application_store_cd', right_on='store_cd')    

df_tmp['distance'] =   df_tmp[['m_longitude', 'm_latitude','longitude', 'latitude']]. \
                                apply(lambda x: calc_distance(x[0], x[1], x[2], x[3]), axis=1)

df_tmp[['customer_id', 'address_x', 'address_y', 'distance']].head(10)

      customer_id              address_x       address_y  distance
0  CS021313000114   神奈川県伊勢原市粟窪**********  神奈川県伊勢原市伊勢原四丁目  1.394409
1  CS021313000025  神奈川県伊勢原市伊勢原**********  神奈川県伊勢原市伊勢原四丁目  0.474282
2  CS021411000096   神奈川県伊勢原市高森**********  神奈川県伊勢原市伊勢原四丁目  2.480155
3  CS021415000150  神奈川県伊勢原市上粕屋**********  神奈川県伊勢原市伊勢原四丁目  2.734723
4  CS021313000046   神奈川県伊勢原市池端**********  神奈川県伊勢原市伊勢原四丁目  1.111911
5  CS021103000002  神奈川県伊勢原市西富岡**********  神奈川県伊勢原市伊勢原四丁目  2.384941
6  CS021214000028   神奈川県伊勢原市桜台**********  神奈川県伊勢原市伊勢原四丁目  1.399344
7  CS021512000095   神奈川県伊勢原市沼目**********  神奈川県伊勢原市伊勢原四丁目  1.993991
8  CS021613000002   神奈川県伊勢原市桜台**********  神奈川県伊勢原市伊勢原四丁目  1.399344
9  CS021412000147  神奈川県伊勢原市三ノ宮**********  神奈川県伊勢原市伊勢原四丁目  3.507680

---
> P-087:  顧客データフレーム（df_customer）では、異なる店舗での申込みなどにより同一顧客が複数登録されている。名前（customer_name）と郵便番号（postal_cd）が同じ顧客は同一顧客とみなし、1顧客1レコードとなるように名寄せした名寄顧客データフレーム（df_customer_u）を作成せよ。ただし、同一顧客に対しては売上金額合計が最も高いものを残すものとし、売上金額合計が同一もしくは売上実績の無い顧客については顧客ID（customer_id）の番号が小さいものを残すこととする。

In [ ]:
df_tmp = df_receipt.groupby('customer_id').agg({'amount':sum}).reset_index()
df_customer_u = pd.merge(df_customer, df_tmp, how='left', on='customer_id').sort_values(['amount', 'customer_id']
                                                                                        , ascending=[False, True])
df_customer_u.drop_duplicates(subset=['customer_name', 'postal_cd'], keep='first', inplace=True)

print('減少数: ', len(df_customer) - len(df_customer_u))

減少数:  30

---
> P-088: 前設問で作成したデータを元に、顧客データフレームに統合名寄IDを付与したデータフレーム（df_customer_n）を作成せよ。ただし、統合名寄IDは以下の仕様で付与するものとする。
>
> - 重複していない顧客：顧客ID（customer_id）を設定
> - 重複している顧客：前設問で抽出したレコードの顧客IDを設定

In [ ]:
df_customer_n = pd.merge(df_customer, df_customer_u[['customer_name', 'postal_cd', 'customer_id']],
                        how='inner', on =['customer_name', 'postal_cd'])
df_customer_n.rename(columns={'customer_id_x':'customer_id', 'customer_id_y':'integration_id'}, inplace=True)

print('ID数の差', len(df_customer_n['customer_id'].unique()) - len(df_customer_n['integration_id'].unique()))

ID数の差 30

---
> P-閑話: df_customer_1, df_customer_nは使わないので削除する。

In [ ]:
del df_customer_1
del df_customer_n

---
> P-089: 売上実績のある顧客に対し、予測モデル構築のため学習用データとテスト用データに分割したい。それぞれ8:2の割合でランダムにデータを分割せよ。

In [ ]:
df_tmp = pd.merge(df_customer, df_receipt['customer_id'], how='inner', on='customer_id')
df_train, df_test = train_test_split(df_tmp, test_size=0.2, random_state=71)
print('学習データ割合: ', len(df_train) / len(df_tmp))
print('テストデータ割合: ', len(df_test) / len(df_tmp))

学習データ割合:  0.7999908650771901
テストデータ割合:  0.2000091349228099

---
> P-090: レシート明細データフレーム（df_receipt）は2017年1月1日〜2019年10月31日までのデータを有している。売上金額（amount）を月次で集計し、学習用に12ヶ月、テスト用に6ヶ月のモデル構築用データを3セット作成せよ。

In [ ]:
df_tmp = df_receipt[['sales_ymd', 'amount']].copy()
df_tmp['sales_ym'] = df_tmp['sales_ymd'].astype('str').str[0:6]
df_tmp = df_tmp.groupby('sales_ym').agg({'amount':'sum'}).reset_index()

# 関数化することで長期間データに対する多数のデータセットもループなどで処理できるようにする
def split_data(df, train_size, test_size, slide_window, start_point):
    train_start = start_point * slide_window
    test_start = train_start + train_size
    return df[train_start : test_start], df[test_start : test_start + test_size]

df_train_1, df_test_1 = split_data(df_tmp, train_size=12, test_size=6, slide_window=6, start_point=0)
df_train_2, df_test_2 = split_data(df_tmp, train_size=12, test_size=6, slide_window=6, start_point=1)
df_train_3, df_test_3 = split_data(df_tmp, train_size=12, test_size=6, slide_window=6, start_point=2)

In [ ]:
df_train_1

   sales_ym  amount
0    201701  902056
1    201702  764413
2    201703  962945
3    201704  847566
4    201705  884010
5    201706  894242
6    201707  959205
7    201708  954836
8    201709  902037
9    201710  905739
10   201711  932157
11   201712  939654

In [ ]:
df_test_1

   sales_ym   amount
12   201801   944509
13   201802   864128
14   201803   946588
15   201804   937099
16   201805  1004438
17   201806  1012329

---
> P-091: 顧客データフレーム（df_customer）の各顧客に対し、売上実績のある顧客数と売上実績のない顧客数が1:1となるようにアンダーサンプリングで抽出せよ。

In [ ]:
#unbalancedのubUnderを使った例
df_tmp = df_receipt.groupby('customer_id').agg({'amount':'sum'}).reset_index()
df_tmp = pd.merge(df_customer, df_tmp, how='left', on='customer_id')
df_tmp['buy_flg'] = df_tmp['amount'].apply(lambda x: 0 if np.isnan(x) else 1)

print('0の件数', len(df_tmp.query('buy_flg == 0')))
print('1の件数', len(df_tmp.query('buy_flg == 1')))

positive_count = len(df_tmp.query('buy_flg == 1'))

rs = RandomUnderSampler(random_state=71)

df_sample, _ = rs.fit_sample(df_tmp, df_tmp.buy_flg)

print('0の件数', len(df_sample.query('buy_flg == 0')))
print('1の件数', len(df_sample.query('buy_flg == 1')))

0の件数 13665
1の件数 8306
0の件数 8306
1の件数 8306

---
> P-092: 顧客データフレーム（df_customer）では、性別に関する情報が非正規化の状態で保持されている。これを第三正規化せよ。

In [ ]:
df_gender = df_customer[['gender_cd', 'gender']].drop_duplicates()
df_customer_s = df_customer.drop(columns='gender')

---
> P-093: 商品データフレーム（df_product）では各カテゴリのコード値だけを保有し、カテゴリ名は保有していない。カテゴリデータフレーム（df_category）と組み合わせて非正規化し、カテゴリ名を保有した新たな商品データフレームを作成せよ。

In [ ]:
df_product_full = pd.merge(df_product, df_category[['category_small_cd', 
                                                    'category_major_name',
                                                    'category_medium_name',
                                                    'category_small_name']], 
                           how = 'inner', on = 'category_small_cd')

---
> P-094: 先に作成したカテゴリ名付き商品データを以下の仕様でファイル出力せよ。なお、出力先のパスはdata配下とする。
>
> - ファイル形式はCSV（カンマ区切り）
> - ヘッダ有り
> - 文字コードはUTF-8

In [ ]:
os.makedirs('./data')
df_product_full.to_csv('./data/P_df_product_full_UTF-8_header.csv', encoding='UTF-8', index=False)

---
> P-095: 先に作成したカテゴリ名付き商品データを以下の仕様でファイル出力せよ。なお、出力先のパスはdata配下とする。
>
> - ファイル形式はCSV（カンマ区切り）
> - ヘッダ有り
> - 文字コードはCP932

In [ ]:
df_product_full.to_csv('./data/P_df_product_full_CP932_header.csv', encoding='CP932', index=False)

---
> P-096: 先に作成したカテゴリ名付き商品データを以下の仕様でファイル出力せよ。なお、出力先のパスはdata配下とする。
>
> - ファイル形式はCSV（カンマ区切り）
> - ヘッダ無し
> - 文字コードはUTF-8

In [ ]:
df_product_full.to_csv('./data/P_df_product_full_UTF-8_noh.csv', header=False ,encoding='UTF-8', index=False)

---
> P-097: 先に作成した以下形式のファイルを読み込み、データフレームを作成せよ。また、先頭10件を表示させ、正しくとりまれていることを確認せよ。
>
> - ファイル形式はCSV（カンマ区切り）
> - ヘッダ有り
> - 文字コードはUTF-8

In [ ]:
df_tmp = pd.read_csv('./data/P_df_product_full_UTF-8_header.csv')
df_tmp.head(10)

   product_cd  category_major_cd  ...  category_medium_name  category_small_name
0  P040101001                  4  ...                   御飯類                  弁当類
1  P040101002                  4  ...                   御飯類                  弁当類
2  P040101003                  4  ...                   御飯類                  弁当類
3  P040101004                  4  ...                   御飯類                  弁当類
4  P040101005                  4  ...                   御飯類                  弁当類
5  P040101006                  4  ...                   御飯類                  弁当類
6  P040101007                  4  ...                   御飯類                  弁当類
7  P040101008                  4  ...                   御飯類                  弁当類
8  P040101009                  4  ...                   御飯類                  弁当類
9  P040101010                  4  ...                   御飯類                  弁当類

[10 rows x 9 columns]

---
> P-098: 先に作成した以下形式のファイルを読み込み、データフレームを作成せよ。また、先頭10件を表示させ、正しくとりまれていることを確認せよ。
>
> - ファイル形式はCSV（カンマ区切り）
> - ヘッダ無し
> - 文字コードはUTF-8

In [ ]:
df_tmp = pd.read_csv('./data/P_df_product_full_UTF-8_noh.csv', header=None)
df_tmp.head(10)

            0  1    2      3      4      5   6    7    8
0  P040101001  4  401  40101  198.0  149.0  惣菜  御飯類  弁当類
1  P040101002  4  401  40101  218.0  164.0  惣菜  御飯類  弁当類
2  P040101003  4  401  40101  230.0  173.0  惣菜  御飯類  弁当類
3  P040101004  4  401  40101  248.0  186.0  惣菜  御飯類  弁当類
4  P040101005  4  401  40101  268.0  201.0  惣菜  御飯類  弁当類
5  P040101006  4  401  40101  298.0  224.0  惣菜  御飯類  弁当類
6  P040101007  4  401  40101  338.0  254.0  惣菜  御飯類  弁当類
7  P040101008  4  401  40101  420.0  315.0  惣菜  御飯類  弁当類
8  P040101009  4  401  40101  498.0  374.0  惣菜  御飯類  弁当類
9  P040101010  4  401  40101  580.0  435.0  惣菜  御飯類  弁当類

---
> P-099: 先に作成したカテゴリ名付き商品データを以下の仕様でファイル出力せよ。なお、出力先のパスはdata配下とする。
>
> - ファイル形式はTSV（タブ区切り）
> - ヘッダ有り
> - 文字コードはUTF-8

In [ ]:
df_product_full.to_csv('./data/P_df_product_full_UTF-8_header.tsv', sep='\t', encoding='UTF-8', index=False)

---
> P-100: 先に作成した以下形式のファイルを読み込み、データフレームを作成せよ。また、先頭10件を表示させ、正しくとりまれていることを確認せよ。
>
> - ファイル形式はTSV（タブ区切り）
> - ヘッダ有り
> - 文字コードはUTF-8

In [ ]:
df_tmp = pd.read_table('./data/P_df_product_full_UTF-8_header.tsv', encoding='UTF-8')
df_tmp.head(10)

   product_cd  category_major_cd  ...  category_medium_name  category_small_name
0  P040101001                  4  ...                   御飯類                  弁当類
1  P040101002                  4  ...                   御飯類                  弁当類
2  P040101003                  4  ...                   御飯類                  弁当類
3  P040101004                  4  ...                   御飯類                  弁当類
4  P040101005                  4  ...                   御飯類                  弁当類
5  P040101006                  4  ...                   御飯類                  弁当類
6  P040101007                  4  ...                   御飯類                  弁当類
7  P040101008                  4  ...                   御飯類                  弁当類
8  P040101009                  4  ...                   御飯類                  弁当類
9  P040101010                  4  ...                   御飯類                  弁当類

[10 rows x 9 columns]

# これで１００本終わりです。おつかれさまでした！